
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="zh-TW" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0" />
<meta name="description" content="公車運輸 QR CODE 雲端看板" />
<title>測試抓取用途</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
<style type="text/css">
@charset "utf-8";

body {
	font-family: "Arial", "Microsoft JhengHei";
	font-size: 15px;;
	margin: 0px;
	background-color: rgb(192, 244, 247);
}

.btn1, .btn2, .btn3, .btn4, .btnBW {
	display: inline-block;
	padding: 5px 10px;
	font-size: 18px;
	border: 2px solid #35A;
	background-color: #ACE;
	border-radius: 10px;
	margin: 2px 5px;
	cursor: pointer;
	height: 100%;
   	-o-user-select:none; -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; user-select: none;
}
.btn2 {
	border-color: #743; background-color: #fc9d9d;
}
.btn3 {
	border-color: #505806; background-color: #dee97a;
}
.btn4 {
	border-color: #057205; background-color: #a2ec8f;
}
.btnBW {
	border-color: transparent; background-color: #FFF;
}
.btnBW.selected {border-color: #222;}

.frame1 {
	margin: 3px 0;
	border-top: 1px solid #734;
	padding: 3px 0;
	overflow: auto;
}
.frameIn{
	overflow: auto;
	display: inline-flex;
}
.bs_no_select{
   -o-user-select:none;
   -moz-user-select: none;
   -ms-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

#json_text {
	max-width: calc(100vw - 20px);
	width: 1000px;
	height: calc(100vh - 200px);
	max-height: 70vh !important;
	font-size: 12px;
	font-family: Arial;
}

.codeArea {
	max-width: calc(100vw - 20px);
	width: 1000px;
	display: inline-block;
	overflow: auto;
	height: calc(100vh - 200px);
	min-height: 400px;
	font-size: 12px;
	font-family: Arial;
	margin-left: 5px;
	border: 1px solid #222;
}
.codeArea pre{ margin:0}
.codeArea .hljs {
	background-color: #FFF;
}

.mask_ui{
	display: block;
	position: fixed;
	left: 0; top: 0; width:100%; height:100%;
	overflow: hidden;
	background-color: rgba(230,230,230,0.6);
	z-index: 1000;
}


@media screen and (max-width: 679px) {
	.btn1, .btn2, .btn3, .btn4, .btnBW {
		font-size: 15px;
		padding: 3px 6px;
	}
}


</style>

<!--
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue-router@2.7.0/dist/vue-router.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
-->

<script type="text/javascript" src="../../railtime/libs/vue.js"></script>
<script type="text/javascript">
Vue.config.productionTip=false;
</script>

<!--
<script type="text/javascript" src="../../railtime/ttlib/data.js"></script>
-->
<script type="text/javascript" src="../dist/ptx.js"></script>
<script type="text/javascript">


var BB = {};
var TT = {ptx: rocptx}
var ptx = rocptx;
(function(){
	var CONST_DEFAULT_LINE_COLOR = "#555555";
	function loading(cmd, text){
		var maskID = 'functional_mask_out';
		var dom = false;
		if(!document.getElementById(maskID)){
			dom = document.createElement('div');
			dom.id = maskID;
			dom.className = 'mask_ui';
			document.body.appendChild(dom);
		}else{
			dom = document.getElementById(maskID);
		}

		if(cmd==0){
			dom.style.display = 'none';
		}else{
			dom.style.display = '';
		}
	}
	var menuBarTpl =  Vue.compile('<div id="menuBar" class="bs_no_select">' +
		'<div class="btn1" v-on:click="changePanel(\'trtc\')">台北捷運</div>' +
		'<div class="btn1" v-on:click="changePanel(\'krtc\')">高雄捷運</div>' +
		'<div class="btn1" v-on:click="changePanel(\'tymetro\')">桃園捷運</div>' +
		'<div class="btn1" v-on:click="changePanel(\'klrt\')">高雄輕軌</div>' +
	'</div>');
	Vue.component('vcmp_menu_bar', {
		render: menuBarTpl.render,
		staticRenderFns: menuBarTpl.staticRenderFns,
		data: function(){return{
			flagShowCommTool: false
		}},
		methods: {
			changePanel: function(name){
				this.$emit('showPanelName',name);
			}
		}
	});

	function makeMrtPanel(compName){
		var ptxFn = TT.ptx[compName];
		ptxFn.commandPath = 'rocptx.' + compName;
		var mrt = Vue.extend({
			template: '<div id="' + compName + '_panel" class="" v-if="show_' + compName + '">' +
				'<div id="' + compName + '_line" class="frame1">' +
					'<div class="btnBW" v-for="line in aryLINE" v-bind:style="lineStyle(line)" v-on:click="getStationOfLine(line)">{{ line.LineName.Zh_tw }}</div>' +
					'<div class="btn4" v-on:click="catchLine()">路線包</div>' +
				'</div>' +
				//===路線相關功能===
				'<div id="' + compName + '_func_line" class="frame1" v-show="nowLineID != \'\'">' +
					'<div class="frameIn">' +
						'<div class="btn3" v-on:click="getRoute()">基本</div>' +
						'<div class="btn3" v-on:click="getLineFrequency()">班距</div>' +
						'<div class="btn3" v-on:click="getS2STravelTime()">站間距</div>' +
						'<div class="btn3" v-on:click="getStationOfRoute()">路由</div>' +
						'<div class="btn3" v-on:click="getLineTransfer()">轉乘</div>' +
						'<div class="btn3" v-on:click="getShape()">圖資</div>' +
						'<div class="btn3" v-on:click="getFirstLastTimetable()">首末</div>' +
					'</div>' +
				'</div>' +
				//===車站陣列===
				'<div id="' + compName + '_station" class="frame1" v-show="aryStationOfLine.length >0 ">' +
					'<div class="frameIn">' +
						'<div class="btnBW" v-for="station in aryStationOfLine" v-bind:style="stationStyle(station)" v-on:click="doStation(station)">{{ station.StationName.Zh_tw }}</div>' +
					'</div>' +
				'</div>' +
				//===車站相關功能===
				'<div id="' + compName + '_func_station" class="frame1" v-show="nowStationID != \'\'">' +
					'<div class="frameIn">' +
						'<div class="btn2" v-on:click="getStationTimeTable()">時刻表</div>' +
						'<div class="btn2" v-on:click="getStationFacility()">設施</div>' +
						'<div class="btn2" v-on:click="getStationExit()">出口</div>' +
						'<div class="btn2" v-on:click="getStationFare()">票價</div>' +
						'<div class="btn2" v-on:click="getStationFirstLastTimetable()">首末</div>' +
						'<div class="btn2" v-on:click="getStationLiveBoard()">看板</div>' +
					'</div>' +
				'</div>' +
			'</div>',
			props: ['show_' + compName + ''],
			data: function(){
				return {
					aryLINE: [],
					aryStationOfLine: [],
					lineColor: '',
					nowLineID: '',
					nowStationID: '',
					flagShowPanel: false,
					flagShowLine: false,
					flagShowStation: false
				}
			},
			methods: {
				clearAryData: function(ary){
					for(var i=0; i<ary.length; i++){
						this[ary[i]] = [];
					}
				},
				clearBarReset: function(cmd){
					switch(cmd){
						case 'line':
							this.nowStationID = '';
						break;
					}
				},
				doStation: function(station){
					this.nowStationID = station.StationID;
					this.getStation();
				},
				doLoad: function(){loading(1);},
				unload: function(){loading(0);},
				getLINE: function(){
					var me = this;
					me.clearAryData(["aryLINE", 'aryStationOfLine']);
					ptxFn._Line().then(function(res){
						me.aryLINE = res.data;
						me.$emit('printj', res.data);
					}).catch(function(res){
						console.info(res);
					});
				},
				getRoute: function(){
					var me = this;
					me.doLoad();
					ptxFn.getRoute(me.nowLineID).then(function(res){
						me.unload();
						me.$emit('printj', res.data);
					}).catch(function(res){
						me.unload();
						console.info(res);
					});
				},
				getLineFrequency: function(){
					var me = this;
					me.doLoad();
					ptxFn.getLineFrequency(me.nowLineID).then(function(res){me.unload(); me.$emit('printj', res.data); }).catch(function(res){me.unload(); console.info(res); });
				},
				getLineTransfer: function(){
					var me = this;
					me.doLoad();
					ptxFn.getLineTransfer(me.nowLineID).then(function(res){me.unload(); me.$emit('printj', res.data); }).catch(function(res){me.unload(); console.info(res); });
				},
				getShape: function(){
					var me = this;
					me.doLoad();
					ptxFn._Shape().then(function(res){me.unload(); me.$emit('printj', res.data); }).catch(function(res){me.unload(); console.info(res); });
				},
				getFirstLastTimetable: function(){
					var me = this;
					me.doLoad();
					ptxFn.getFirstLastTimetable(me.nowLineID).then(function(res){me.unload(); me.$emit('printj', res.data); }).catch(function(res){me.unload(); console.info(res); });
				},
				getS2STravelTime: function(){
					var me = this;
					me.doLoad();
					ptxFn.getS2STravelTime(me.nowLineID).then(function(res){me.unload(); me.$emit('printj', res.data); }).catch(function(res){me.unload(); console.info(res); });
				},
				getStation: function(){
					var me = this;
					me.doLoad();
					ptxFn.getStation(me.nowStationID).then(function(res){me.unload(); me.$emit('printj', res.data[0]); }).catch(function(res){me.unload(); console.info(res); });
				},
				getStationOfLine: function(line){
					var LineID = line.LineID;
					var me = this;
					me.clearBarReset('line');
					me.clearAryData(['aryStationOfLine']);
					me.lineColor = line.LineColor || CONST_DEFAULT_LINE_COLOR;
					me.nowLineID = line.LineID;
					me.doLoad();
					ptxFn.getStationOfLine(LineID).then(function(res){
						me.unload();
						me.aryStationOfLine = res.data[0].Stations;
						me.$emit('printj', res.data[0]);
					}).catch(function(res){
						me.unload();
						console.info(res);
					});
				},
				getStationOfRoute: function(line){
					var me = this;
					me.doLoad();
					ptxFn.getStationOfRoute(me.nowLineID).then(function(res){me.unload(); me.$emit('printj', res.data); }).catch(function(res){me.unload(); console.info(res); });
				},
				getStationTimeTable: function(){
					var me = this;
					me.doLoad();
					ptxFn.getStationTimeTable(me.nowStationID).then(function(res){me.unload(); me.$emit('printj', res.data); }).catch(function(res){me.unload(); console.info(res); });
				},
				getStationFacility: function(){
					var me = this;
					me.doLoad();
					ptxFn.getStationFacility(me.nowStationID).then(function(res){me.unload(); me.$emit('printj', res.data); }).catch(function(res){me.unload(); console.info(res); });
				},
				getStationExit: function(){
					var me = this;
					me.doLoad();
					ptxFn.getStationExit(me.nowStationID).then(function(res){me.unload(); me.$emit('printj', res.data); }).catch(function(res){me.unload(); console.info(res); });
				},
				getStationFirstLastTimetable: function(){
					var me = this;
					me.doLoad();
					ptxFn.getStationFirstLastTimetable(me.nowStationID).then(function(res){me.unload(); me.$emit('printj', res.data); }).catch(function(res){me.unload(); console.info(res); });
				},
				getStationLiveBoard: function(){
					var me = this;
					me.doLoad();
					ptxFn.getStationLiveBoard(me.nowStationID).then(function(res){me.unload(); me.$emit('printj', res.data); }).catch(function(res){me.unload(); console.info(res); });
				},
				getStationFare: function(){
					var me = this;
					me.doLoad();
					ptxFn.getStationFare(me.nowStationID).then(function(res){me.unload(); me.$emit('printj', res.data); }).catch(function(res){me.unload(); console.info(res); });
				},
				lineStyle: function(line){
					var lineColor = line.LineColor || CONST_DEFAULT_LINE_COLOR;
					var rt = 'color:#FFF; background-color:' + lineColor + ';';
					if(line.LineID==this.nowLineID) rt += 'font-weight:bold;border-color:#222;box-shadow: 5px 5px 3px rgba(72,132,132,0.8);';
					return rt;
				},
				stationStyle: function(station){
					var rt = 'color:#FFF; background-color:' + this.lineColor + ';';
					if(station.StationID==this.nowStationID) rt += 'font-weight:bold;border-color:#222;box-shadow: 5px 5px 3px rgba(72,132,132,0.8);';
					return rt;
				},
				//Catch Data Function
				catchLine: function(){
					var me = this;
					ptxFn.catchData.Line().then(function(data){
						me.$emit('printj', data);
					}).catch(function(res){
						console.info(res);;
					})
				}
			},
			mounted: function() {
				this.getLINE();
			},
			destroy: function() {
			}
		});
		return Vue.component('vcmp_' + compName + '_panel', mrt);
	}
	var trtcPanel = makeMrtPanel('trtc');
	var krtcPanel = makeMrtPanel('krtc');
	var tymetroPanel = makeMrtPanel('tymetro');
	var klrtPanel = makeMrtPanel('klrt');

	BB.initFn = function(){
		//hljs.initHighlightingOnLoad();
		var tpl = Vue.compile('<div id="main">' + 
			'<vcmp_menu_bar id="menuBar" v-on:showPanelName="changeName"></vcmp_menu_bar>' +
			'<div id="panel">' +
				'<vcmp_trtc_panel v-bind:show_trtc="(panelName==\'trtc\')" v-if="(panelName==\'trtc\')" v-on:printj="printJSON" />' +
				'<vcmp_krtc_panel v-bind:show_krtc="(panelName==\'krtc\')" v-if="(panelName==\'krtc\')" v-on:printj="printJSON" />' +
				'<vcmp_tymetro_panel v-bind:show_tymetro="(panelName==\'tymetro\')" v-if="(panelName==\'tymetro\')" v-on:printj="printJSON" />' +
				'<vcmp_klrt_panel v-bind:show_klrt="(panelName==\'klrt\')" v-if="(panelName==\'klrt\')" v-on:printj="printJSON" />' +
			'</div>' +
			'<div id="output">' +
				'<textarea id="json_text" v-show="flagShowTextArea">{{json_text}}</textarea>' +
				//'<div class="codeArea" v-show="!flagShowTextArea"><pre><code class="json">{{json_text}}</code></pre></div>' +
			'</div>' +
			'<div class="bottom">' +
				'<div class="btn2" v-on:click="toConsole()">將 Response 印到 console </div>' +
				//'<div class="btn2" v-show="!flagShowTextArea" v-on:click="flagShowTextArea=true">顯示文字編輯器</div>' +
				//'<div class="btn2" v-show="flagShowTextArea" v-on:click="flagShowTextArea=false">顯示程式語法</div>' +
			'</div>' +
			'<div id="statusBar"></div>' +
		'</div>');
		BB.main = new Vue({
			render: tpl.render,
			el: '#main',
			data: {
				panelName: '',
				flagShowTextArea: true,
				json_data: [],
				json_text: ''
			},
			methods: {
				changeName: function(name){
					this.panelName = name;
				},
				printJSON: function(json){
					this.json_data = json;
					this.json_text = JSON.stringify(json, undefined, 4);
				},
				toConsole: function(){
					console.info(TT.ptx.common.clone(this.json_data));
				}
			},
			watch: {
				json_text: function(){
					//setTimeout(()=>{hljs.initHighlighting.call();},500);
				}
			}
		});
	}
	return BB;
})();

</script>
<!-- -->
<!-- -->
</head>
<body onload="BB.initFn()">
	<div id="main"></div>
	<div id="mask" class="mask"><div class="text"></div></div>
</body>
</html>
