{
  "openapi": "3.0.4",
  "info": {
    "title": "GIS圖資",
    "description": "本平臺提供涵蓋全國尺度之GIS圖資服務API，歡迎各產政學單位介接使用。\n<br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如：性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n<br>計費方式：\n<br>計次：1,500次/1點\n<br>計量：150MB/1點\n---\n##### API使用說明與注意事項：\n1. 如您尚未註冊平臺會員帳號，或未以帳號登入，您將僅能以「訪客模式」使用平臺服務，包含：限以瀏覽器存取，限使用`【基礎服務】`，且限制每個呼叫來源端IP每日存取至多20次。。\n2. 如您已註冊平臺會員帳號，請務必確保在存取服務(包含瀏覽器、程式呼叫API)時帶入您的API金鑰，方能以「會員模式」使用完整平臺服務，包含平臺各類資料服務，如`【基礎服務】`、`【進階服務】`、`【加值服務】`、`【歷史服務】`、`【圖資服務】`、`【第三方服務】`等。\n3. 建議您立即[註冊平臺會員帳號](/register)，依您用量需求訂閱服務方案，並於[【會員中心->資料服務->API金鑰】](/user/dataservice/key)取得API金鑰(即Client Id和Client Secret資訊)。\n4. 會員訂閱服務方案之級別不同，將決定其API金鑰之存取頻率有不同限制，各個方案的存取頻率限制說明請參考[訂閱收費](/pricing)。\n5. 以瀏覽器帶入API金鑰之操作方式：請點選Swagger UI上的Authorize按鈕，依指示填入Client Id和Client Secret資訊並進行驗證，驗證完成後可開始於Swagger UI使用API。\n6. 以程式呼叫API帶入API金鑰之操作方式：請參考[範例程式](https://github.com/tdxmotc/SampleCode)。\n7. 不論您是以瀏覽器或是以程式呼叫API，所有服務存取行為均將被記錄並定期檢視，以確保系統資源使用的合理分配與避免遭受濫用。\n\nAPI OAS文本 :[請點我](https://tdx.transportdata.tw/webapi/File/Swagger/V3/30bc573f-0d73-47f2-ac3c-37c798b86d37)",
    "termsOfService": "https://tdx.transportdata.tw/term",
    "contact": {
      "name": "TDX客服信箱",
      "email": "tdx@motc.gov.tw"
    },
    "version": "v3"
  },
  "servers": [
    {
      "url": "https://tdx.transportdata.tw/api/basic"
    }
  ],
  "paths": {
    "/V3/Map/Basic/Road/Facility/Track/RoadClass/{RoadClass}": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "取得指定道路等級之道路軌跡(GP)道路名稱及縣市參數",
        "description": "取得指定道路等級之道路軌跡(GP)道路名稱及縣市參數<br />\r\n            參考 <a target=\"_blank\" href=\"https://tdx.transportdata.tw/api-service/swagger/basic/30bc573f-0d73-47f2-ac3c-37c798b86d37#/Basic/PhysicalNetwork_03001\">取得指定道路分類之道路引用參數</a><br />",
        "operationId": "PhysicalNetwork_03010",
        "parameters": [
          {
            "name": "RoadClass",
            "in": "path",
            "description": "道路等級",
            "required": true,
            "schema": {
              "enum": [
                "0",
                "1",
                "3"
              ],
              "type": "string",
              "default": "0"
            },
            "x-enum": {
              "0": "國道",
              "1": "省道快速道路",
              "3": "省道",
              "4": "縣道"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string",
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GPRoad"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GPRoad"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Rail/Network/Station/OperatorCode/{OperatorCode}": {
      "get": {
        "tags": [
          "Rail"
        ],
        "summary": "取得指定營運業者之軌道車站圖資資料",
        "description": "取得指定營運業者之軌道車站圖資資料<br />",
        "operationId": "TransportNetwork_03006",
        "parameters": [
          {
            "name": "OperatorCode",
            "in": "path",
            "description": "營運業者",
            "required": true,
            "schema": {
              "enum": [
                "TRA",
                "THSR",
                "TRTC",
                "KRTC",
                "TYMC",
                "KLRT",
                "NTDLRT",
                "TMRT"
              ],
              "type": "string",
              "default": "TRTC"
            },
            "x-enum": {
              "TRA": "臺鐵",
              "THSR": "高鐵",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運",
              "KLRT": "高雄輕軌",
              "NTDLRT": "淡海輕軌",
              "TMRT": "臺中捷運",
              "NTMC": "新北捷運",
              "TRTCMG": "貓空纜車",
              "NTALRT": "安坑輕軌",
              "AFR": "阿里山林鐵"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseStation"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseStation"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Rail/Network/Line/OperatorCode/{OperatorCode}": {
      "get": {
        "tags": [
          "Rail"
        ],
        "summary": "取得指定營運業者之軌道路網實體路線圖資資料",
        "description": "取得指定營運業者之軌道路網實體路線圖資資料<br />",
        "operationId": "PhysicalNetwork_03009",
        "parameters": [
          {
            "name": "OperatorCode",
            "in": "path",
            "description": "營運業者",
            "required": true,
            "schema": {
              "enum": [
                "TRA",
                "THSR",
                "TRTC",
                "KRTC",
                "TYMC",
                "KLRT",
                "NTDLRT",
                "TMRT",
                "NTMC",
                "TRTCMG",
                "NTALRT",
                "AFR"
              ],
              "type": "string",
              "default": "TRTC"
            },
            "x-enum": {
              "TRA": "臺鐵",
              "THSR": "高鐵",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運",
              "KLRT": "高雄輕軌",
              "NTDLRT": "淡海輕軌",
              "TMRT": "臺中捷運",
              "NTMC": "新北捷運",
              "TRTCMG": "貓空纜車",
              "NTALRT": "安坑輕軌",
              "AFR": "阿里山林鐵"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RailLine"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RailLine"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Rail/Network/Route/OperatorCode/{OperatorCode}": {
      "get": {
        "tags": [
          "Rail"
        ],
        "summary": "取得指定營運業者之軌道路網營運路線圖資資料",
        "description": "取得指定營運業者之軌道路網營運路線圖資資料<br />",
        "operationId": "TransportNetwork_03007",
        "parameters": [
          {
            "name": "OperatorCode",
            "in": "path",
            "description": "營運業者",
            "required": true,
            "schema": {
              "enum": [
                "KRTC",
                "TYMC",
                "TMRT"
              ],
              "type": "string",
              "default": "TRTC"
            },
            "x-enum": {
              "TRA": "臺鐵",
              "THSR": "高鐵",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運",
              "KLRT": "高雄輕軌",
              "NTDLRT": "淡海輕軌",
              "TMRT": "臺中捷運",
              "NTMC": "新北捷運",
              "TRTCMG": "貓空纜車",
              "NTALRT": "安坑輕軌",
              "AFR": "阿里山林鐵"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RailRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RailRoute"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Rail/Network/StationOfRoute/OperatorCode/{OperatorCode}/RouteID/{RouteID}": {
      "get": {
        "tags": [
          "Rail"
        ],
        "summary": "取得指定軌道營運業者之營運路線車站圖資",
        "description": "取得指定軌道營運業者之營運路線車站圖資<br />",
        "operationId": "TransportNetwork_03008",
        "parameters": [
          {
            "name": "OperatorCode",
            "in": "path",
            "description": "營運業者",
            "required": true,
            "schema": {
              "enum": [
                "TRTC",
                "KRTC",
                "TYMC",
                "NTDLRT",
                "TMRT"
              ],
              "type": "string",
              "default": "TRTC"
            },
            "x-enum": {
              "TRA": "臺鐵",
              "THSR": "高鐵",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運",
              "KLRT": "高雄輕軌",
              "NTDLRT": "淡海輕軌",
              "TMRT": "臺中捷運",
              "NTMC": "新北捷運",
              "TRTCMG": "貓空纜車",
              "NTALRT": "安坑輕軌",
              "AFR": "阿里山林鐵"
            }
          },
          {
            "name": "RouteID",
            "in": "path",
            "description": "營運路線",
            "required": true,
            "schema": {
              "type": "string",
              "default": "R-1"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseStation"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseStation"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Rail/RegulationZone/OperatorCode/{OperatorCode}": {
      "get": {
        "tags": [
          "Rail"
        ],
        "summary": "取得指定營運業者之軌道禁限建資料",
        "description": "取得指定營運業者之軌道禁限建資料<br />",
        "operationId": "ThemeData_03002",
        "parameters": [
          {
            "name": "OperatorCode",
            "in": "path",
            "description": "營運業者",
            "required": true,
            "schema": {
              "enum": [
                "THSR",
                "KRTC",
                "TYMC"
              ],
              "type": "string",
              "default": "TYMC"
            },
            "x-enum": {
              "TRA": "臺鐵",
              "THSR": "高鐵",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運",
              "KLRT": "高雄輕軌",
              "NTDLRT": "淡海輕軌",
              "TMRT": "臺中捷運",
              "NTMC": "新北捷運",
              "TRTCMG": "貓空纜車",
              "NTALRT": "安坑輕軌",
              "AFR": "阿里山林鐵"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegulationRailZone"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegulationRailZone"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Bike/Network/CityBike/City/{City}": {
      "get": {
        "tags": [
          "Bike"
        ],
        "summary": "取得指定縣市之自行車道路網圖資",
        "description": "取得指定縣市之自行車道路網圖資<br />",
        "operationId": "TransportNetwork_03017",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "default": "Taipei"
            },
            "x-enum": {
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "Kaohsiung": "高雄市",
              "Keelung": "基隆市",
              "Hsinchu": "新竹市",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "NantouCounty": "南投縣",
              "YunlinCounty": "雲林縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "PingtungCounty": "屏東縣",
              "YilanCounty": "宜蘭縣",
              "HualienCounty": "花蓮縣",
              "TaitungCounty": "臺東縣",
              "KinmenCounty": "金門縣",
              "PenghuCounty": "澎湖縣",
              "LienchiangCounty": "連江縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CityBikeRoute2"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CityBikeRoute2"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Bike/Network/CyclingRoute/Route": {
      "get": {
        "tags": [
          "Bike"
        ],
        "summary": "取得環島1號線之路網圖資",
        "description": "取得環島1號線之路網圖資",
        "operationId": "TransportNetwork_03018",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CyclingAroundRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CyclingAroundRoute"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Bike/Network/CyclingRoute/Station": {
      "get": {
        "tags": [
          "Bike"
        ],
        "summary": "取得環島1號線之補給站圖資",
        "description": "取得環島1號線之補給站圖資",
        "operationId": "TransportNetwork_03019",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CyclingAroundStation"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CyclingAroundStation"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Air/Network/Airport": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得機場圖資",
        "description": "取得機場圖資",
        "operationId": "TransportNetwork_03020",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AirPort"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AirPort"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Air/RegulationZone/AirportID/{AirportID}": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得指定機場之航空禁限建範圍圖資",
        "description": "取得指定機場之航空禁限建範圍圖資<br />\r\n            機場IATA國際代碼 參考 <a target=\"_blank\" href=\"https://tdx.transportdata.tw/api-service/swagger/basic/30bc573f-0d73-47f2-ac3c-37c798b86d37#/Basic/TransportNetwork_03005\">取得機場引用參數</a>",
        "operationId": "ThemeData_03003",
        "parameters": [
          {
            "name": "AirportID",
            "in": "path",
            "description": "機場IATA國際代碼",
            "required": true,
            "schema": {
              "type": "string",
              "default": "TPE"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegulationAirportZone"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegulationAirportZone"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Ferry/Network/Port": {
      "get": {
        "tags": [
          "Ferry"
        ],
        "summary": "取得港口圖資",
        "description": "取得港口圖資",
        "operationId": "TransportNetwork_03021",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SeaPort"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SeaPort"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/District/Boundary/City": {
      "get": {
        "tags": [
          "District"
        ],
        "summary": "取得全臺縣市界圖資",
        "description": "取得全臺縣市界圖資",
        "operationId": "District_03002",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BoundaryCity"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BoundaryCity"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/District/Boundary/Town": {
      "get": {
        "tags": [
          "District"
        ],
        "summary": "取得全臺市區鄉鎮界圖資",
        "description": "取得全臺市區鄉鎮界圖資",
        "operationId": "District_03003",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BoundaryTown"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BoundaryTown"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/District/Boundary/Village": {
      "get": {
        "tags": [
          "District"
        ],
        "summary": "取得全臺村里界圖資",
        "description": "取得全臺村里界圖資",
        "operationId": "District_03004",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BoundaryVillage"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BoundaryVillage"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Bus/Network/Stop/City/{City}": {
      "get": {
        "tags": [
          "Bus"
        ],
        "summary": "取得指定縣市之市區公車站牌圖資資料",
        "description": "取得指定縣市之市區公車站牌圖資資料<br />",
        "operationId": "TransportNetwork_03009",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "default": "Taipei"
            },
            "x-enum": {
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "Kaohsiung": "高雄市",
              "Keelung": "基隆市",
              "Hsinchu": "新竹市",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "NantouCounty": "南投縣",
              "YunlinCounty": "雲林縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "PingtungCounty": "屏東縣",
              "YilanCounty": "宜蘭縣",
              "HualienCounty": "花蓮縣",
              "TaitungCounty": "臺東縣",
              "KinmenCounty": "金門縣",
              "PenghuCounty": "澎湖縣",
              "LienchiangCounty": "連江縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StopOfBus"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StopOfBus"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Bus/Network/Station/City/{City}": {
      "get": {
        "tags": [
          "Bus"
        ],
        "summary": "取得指定縣市之市區公車站位圖資資料",
        "description": "取得指定縣市之市區公車站位圖資資料<br />",
        "operationId": "TransportNetwork_03010",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "default": "Taipei"
            },
            "x-enum": {
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "Kaohsiung": "高雄市",
              "Keelung": "基隆市",
              "Hsinchu": "新竹市",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "NantouCounty": "南投縣",
              "YunlinCounty": "雲林縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "PingtungCounty": "屏東縣",
              "YilanCounty": "宜蘭縣",
              "HualienCounty": "花蓮縣",
              "TaitungCounty": "臺東縣",
              "KinmenCounty": "金門縣",
              "PenghuCounty": "澎湖縣",
              "LienchiangCounty": "連江縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StationOfBus"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StationOfBus"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Bus/Network/Route/City/{City}": {
      "get": {
        "tags": [
          "Bus"
        ],
        "summary": "取得指定縣市之市區公車路線圖資資料",
        "description": "取得指定縣市之市區公車路線圖資資料<br />",
        "operationId": "TransportNetwork_03011",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "default": "Taipei"
            },
            "x-enum": {
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "Kaohsiung": "高雄市",
              "Keelung": "基隆市",
              "Hsinchu": "新竹市",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "NantouCounty": "南投縣",
              "YunlinCounty": "雲林縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "PingtungCounty": "屏東縣",
              "YilanCounty": "宜蘭縣",
              "HualienCounty": "花蓮縣",
              "TaitungCounty": "臺東縣",
              "KinmenCounty": "金門縣",
              "PenghuCounty": "澎湖縣",
              "LienchiangCounty": "連江縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RouteOfBus"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RouteOfBus"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Bus/Network/StopOfRoute/City/{City}/RouteName/{RouteName}": {
      "get": {
        "tags": [
          "Bus"
        ],
        "summary": "取得指定縣市、路線名稱之市區公車路線與公車站牌圖資資料",
        "description": "取得指定縣市、路線名稱之市區公車路線與公車站牌圖資資料<br />\r\n            路線名稱 參考 <a target=\"_blank\" href=\"https://tdx.transportdata.tw/api-service/swagger/basic/30bc573f-0d73-47f2-ac3c-37c798b86d37#/Basic/TransportNetwork_03003\">取得指定縣市之市區公車路線引用參數</a>",
        "operationId": "TransportNetwork_03012",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "default": "Taipei"
            },
            "x-enum": {
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "Kaohsiung": "高雄市",
              "Keelung": "基隆市",
              "Hsinchu": "新竹市",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "NantouCounty": "南投縣",
              "YunlinCounty": "雲林縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "PingtungCounty": "屏東縣",
              "YilanCounty": "宜蘭縣",
              "HualienCounty": "花蓮縣",
              "TaitungCounty": "臺東縣",
              "KinmenCounty": "金門縣",
              "PenghuCounty": "澎湖縣",
              "LienchiangCounty": "連江縣"
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "路線名稱",
            "required": true,
            "schema": {
              "type": "string",
              "default": "111"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusRouteStops"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusRouteStops"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Bus/Network/Stop/City/{City}/Nearby/LocationX/{LocationX}/LocationY/{LocationY}/Radius/{Radius}": {
      "get": {
        "tags": [
          "Bus"
        ],
        "summary": "取得指定位置[坐標]、範圍[方圓公尺]之市區公車站牌圖資資料",
        "description": "取得指定位置[坐標]、範圍[方圓公尺]之市區公車站牌圖資資料<br />",
        "operationId": "TransportNetwork_03013",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "default": "Taipei"
            },
            "x-enum": {
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "Kaohsiung": "高雄市",
              "Keelung": "基隆市",
              "Hsinchu": "新竹市",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "NantouCounty": "南投縣",
              "YunlinCounty": "雲林縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "PingtungCounty": "屏東縣",
              "YilanCounty": "宜蘭縣",
              "HualienCounty": "花蓮縣",
              "TaitungCounty": "臺東縣",
              "KinmenCounty": "金門縣",
              "PenghuCounty": "澎湖縣",
              "LienchiangCounty": "連江縣"
            }
          },
          {
            "name": "LocationX",
            "in": "path",
            "description": "經度",
            "required": true,
            "schema": {
              "type": "string",
              "default": "121.523253"
            }
          },
          {
            "name": "LocationY",
            "in": "path",
            "description": "緯度",
            "required": true,
            "schema": {
              "type": "string",
              "default": "25.026326"
            }
          },
          {
            "name": "Radius",
            "in": "path",
            "description": "半徑(公尺)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "500"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StopOfBus"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StopOfBus"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Historical/Bus/Network/Stop/City/{City}/Version/{Version}": {
      "get": {
        "tags": [
          "Historical"
        ],
        "summary": "取得指定縣市之市區公車站牌歷史圖資資料",
        "description": "取得指定縣市之市區公車站牌歷史圖資資料<br />\r\n            公車版號 例如 20190101、20190201、20190301 ...<br />",
        "operationId": "TransportNetwork_03014",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "default": "Taipei"
            },
            "x-enum": {
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "Kaohsiung": "高雄市",
              "Keelung": "基隆市",
              "Hsinchu": "新竹市",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "NantouCounty": "南投縣",
              "YunlinCounty": "雲林縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "PingtungCounty": "屏東縣",
              "YilanCounty": "宜蘭縣",
              "HualienCounty": "花蓮縣",
              "TaitungCounty": "臺東縣",
              "KinmenCounty": "金門縣",
              "PenghuCounty": "澎湖縣",
              "LienchiangCounty": "連江縣"
            }
          },
          {
            "name": "Version",
            "in": "path",
            "description": "公車版號",
            "required": true,
            "schema": {
              "type": "string",
              "default": "20190101"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StopOfBus"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StopOfBus"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Historical/Bus/Network/Route/City/{City}/Version/{Version}": {
      "get": {
        "tags": [
          "Historical"
        ],
        "summary": "取得指定縣市之市區公車路線歷史圖資資料",
        "description": "取得指定縣市之市區公車路線歷史圖資資料<br />\r\n            公車版號 例如 20190101、20190201、20190301 ...<br />",
        "operationId": "TransportNetwork_03015",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "default": "Taipei"
            },
            "x-enum": {
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "Kaohsiung": "高雄市",
              "Keelung": "基隆市",
              "Hsinchu": "新竹市",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "NantouCounty": "南投縣",
              "YunlinCounty": "雲林縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "PingtungCounty": "屏東縣",
              "YilanCounty": "宜蘭縣",
              "HualienCounty": "花蓮縣",
              "TaitungCounty": "臺東縣",
              "KinmenCounty": "金門縣",
              "PenghuCounty": "澎湖縣",
              "LienchiangCounty": "連江縣"
            }
          },
          {
            "name": "Version",
            "in": "path",
            "description": "公車版號",
            "required": true,
            "schema": {
              "type": "string",
              "default": "20190101"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RouteOfBus"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RouteOfBus"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Bus/Network/Stop/InterCity/RouteName/{RouteName}": {
      "get": {
        "tags": [
          "Bus"
        ],
        "summary": "取得指定路線之公路客運站牌圖資資料",
        "description": "取得指定路線之公路客運站牌圖資資料<br />\r\n            路線名稱 參考 <a target=\"_blank\" href=\"https://tdx.transportdata.tw/api-service/swagger/basic/30bc573f-0d73-47f2-ac3c-37c798b86d37#/Basic/TransportNetwork_03004\">取得公路客運之路線引用參數</a>",
        "operationId": "TransportNetwork_03016",
        "parameters": [
          {
            "name": "RouteName",
            "in": "path",
            "description": "路線名稱",
            "required": true,
            "schema": {
              "type": "string",
              "default": "7111"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StopOfBus"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StopOfBus"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Road/Network/City/{City}": {
      "get": {
        "tags": [
          "Road"
        ],
        "summary": "取得指定縣市之道路路網圖資資料",
        "description": "取得指定縣市之道路路網圖資資料<br />",
        "operationId": "PhysicalNetwork_03002",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "default": "Taipei"
            },
            "x-enum": {
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "Kaohsiung": "高雄市",
              "Keelung": "基隆市",
              "Hsinchu": "新竹市",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "NantouCounty": "南投縣",
              "YunlinCounty": "雲林縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "PingtungCounty": "屏東縣",
              "YilanCounty": "宜蘭縣",
              "HualienCounty": "花蓮縣",
              "TaitungCounty": "臺東縣",
              "KinmenCounty": "金門縣",
              "PenghuCounty": "澎湖縣",
              "LienchiangCounty": "連江縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoadNetwork"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoadNetwork"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Historical/Road/Network/City/{City}/Version/{Version}": {
      "get": {
        "tags": [
          "Historical"
        ],
        "summary": "取得指定縣市、指定版本之道路路網圖資資料",
        "description": "取得指定縣市、指定版本之道路路網圖資資料<br />\r\n            道路版號 例如 2018Q1、2018Q2 ...",
        "operationId": "PhysicalNetwork_03003",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "default": "Taipei"
            },
            "x-enum": {
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "Kaohsiung": "高雄市",
              "Keelung": "基隆市",
              "Hsinchu": "新竹市",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "NantouCounty": "南投縣",
              "YunlinCounty": "雲林縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "PingtungCounty": "屏東縣",
              "YilanCounty": "宜蘭縣",
              "HualienCounty": "花蓮縣",
              "TaitungCounty": "臺東縣",
              "KinmenCounty": "金門縣",
              "PenghuCounty": "澎湖縣",
              "LienchiangCounty": "連江縣"
            }
          },
          {
            "name": "Version",
            "in": "path",
            "description": "道路版號",
            "required": true,
            "schema": {
              "enum": [
                "2024Q1",
                "2023Q4",
                "2023Q3",
                "2023Q2",
                "2023Q1",
                "2022Q4",
                "2022Q3",
                "2022Q2"
              ],
              "type": "string",
              "default": "2019Q2"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoadNetwork"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoadNetwork"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Road/Network/RoadClass/{RoadClass}": {
      "get": {
        "tags": [
          "Road"
        ],
        "summary": "取得指定道路分類之道路網圖資資料",
        "description": "取得指定道路分類之道路網圖資資料<br />\r\n            參考 <a target=\"_blank\" href=\"https://tdx.transportdata.tw/api-service/swagger/basic/30bc573f-0d73-47f2-ac3c-37c798b86d37#/Basic/PhysicalNetwork_03001\">取得指定道路分類之道路引用參數</a>",
        "operationId": "PhysicalNetwork_03004",
        "parameters": [
          {
            "name": "RoadClass",
            "in": "path",
            "description": "道路等級",
            "required": true,
            "schema": {
              "enum": [
                "0",
                "1",
                "3"
              ],
              "type": "string",
              "default": "0"
            },
            "x-enum": {
              "0": "國道",
              "1": "省道快速道路",
              "3": "省道",
              "4": "縣道"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoadNetwork"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoadNetwork"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Historical/Road/Network/RoadClass/{RoadClass}/Version/{Version}": {
      "get": {
        "tags": [
          "Historical"
        ],
        "summary": "取得指定道路分類、指定版本之道路路網圖資資料",
        "description": "取得指定道路分類、指定版本之道路路網圖資資料<br />\r\n            參考 <a target=\"_blank\" href=\"https://tdx.transportdata.tw/api-service/swagger/basic/30bc573f-0d73-47f2-ac3c-37c798b86d37#/Basic/PhysicalNetwork_03001\">取得指定道路分類之道路引用參數</a><br />\r\n            道路版號 例如 2018Q1、2018Q2 ...",
        "operationId": "PhysicalNetwork_03005",
        "parameters": [
          {
            "name": "RoadClass",
            "in": "path",
            "description": "道路等級",
            "required": true,
            "schema": {
              "enum": [
                "0",
                "1",
                "3"
              ],
              "type": "string",
              "default": "0"
            },
            "x-enum": {
              "0": "國道",
              "1": "省道快速道路",
              "3": "省道",
              "4": "縣道"
            }
          },
          {
            "name": "Version",
            "in": "path",
            "description": "道路版號",
            "required": true,
            "schema": {
              "enum": [
                "2024Q1",
                "2023Q4",
                "2023Q3",
                "2023Q2",
                "2023Q1",
                "2022Q4",
                "2022Q3",
                "2022Q2"
              ],
              "type": "string",
              "default": "2019Q2"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoadNetwork"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoadNetwork"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Road/Network/RoadClass/{RoadClass}/RoadName/{RoadName}": {
      "get": {
        "tags": [
          "Road"
        ],
        "summary": "取得指定道路分類下指定道路名稱之道路路網圖資資料",
        "description": "取得指定道路分類下指定道路名稱之道路路網圖資資料<br />\r\n            參考 <a target=\"_blank\" href=\"https://tdx.transportdata.tw/api-service/swagger/basic/30bc573f-0d73-47f2-ac3c-37c798b86d37#/Basic/PhysicalNetwork_03001\">取得指定道路分類之道路引用參數</a>",
        "operationId": "PhysicalNetwork_03006",
        "parameters": [
          {
            "name": "RoadClass",
            "in": "path",
            "description": "道路等級",
            "required": true,
            "schema": {
              "enum": [
                "0",
                "1",
                "3"
              ],
              "type": "string",
              "default": "0"
            },
            "x-enum": {
              "0": "國道",
              "1": "省道快速道路",
              "3": "省道",
              "4": "縣道"
            }
          },
          {
            "name": "RoadName",
            "in": "path",
            "description": "道路名稱",
            "required": true,
            "schema": {
              "type": "string",
              "default": "國道1號"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoadNetwork"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoadNetwork"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Historical/Road/Network/RoadClass/{RoadClass}/RoadName/{RoadName}/Version/{Version}": {
      "get": {
        "tags": [
          "Historical"
        ],
        "summary": "取得指定道路分類下指定道路名稱之道路路網歷史圖資資料",
        "description": "取得指定道路分類下指定道路名稱之道路路網歷史圖資資料<br />\r\n            參考 <a target=\"_blank\" href=\"https://tdx.transportdata.tw/api-service/swagger/basic/30bc573f-0d73-47f2-ac3c-37c798b86d37#/Basic/PhysicalNetwork_03001\">取得指定道路分類之道路引用參數</a><br />\r\n            道路版號 例如 2018Q1、2018Q2 ...",
        "operationId": "PhysicalNetwork_03007",
        "parameters": [
          {
            "name": "RoadClass",
            "in": "path",
            "description": "道路等級",
            "required": true,
            "schema": {
              "enum": [
                "0",
                "1",
                "3"
              ],
              "type": "string",
              "default": "0"
            },
            "x-enum": {
              "0": "國道",
              "1": "省道快速道路",
              "3": "省道",
              "4": "縣道"
            }
          },
          {
            "name": "RoadName",
            "in": "path",
            "description": "道路名稱",
            "required": true,
            "schema": {
              "type": "string",
              "default": "國道1號"
            }
          },
          {
            "name": "Version",
            "in": "path",
            "description": "道路版號",
            "required": true,
            "schema": {
              "enum": [
                "2024Q1",
                "2023Q4",
                "2023Q3",
                "2023Q2",
                "2023Q1",
                "2022Q4",
                "2022Q3",
                "2022Q2"
              ],
              "type": "string",
              "default": "2019Q2"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML / GEOJSON",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML",
                "GEOJSON"
              ],
              "type": "string",
              "default": "GEOJSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoadNetwork"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoadNetwork"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Road/Sign/RoadClass/{RoadClass}/RoadName/{RoadName}/Type/{Type}/Kind/{Kind}": {
      "get": {
        "tags": [
          "Road"
        ],
        "summary": "取得指定[道路分類]、指定[道路名稱]、指定[類型]、指定[牌面]之牌面資料",
        "description": "取得指定[道路分類]、指定[道路名稱]、指定[類型]、指定[牌面]之牌面資料<br />\r\n[輸入參數說明]<br />\r\n道路分類(RoadClass)及道路名稱(RoadName) 可參考 <a target=\"_blank\" href=\"https://tdx.transportdata.tw/api-service/swagger/basic/30bc573f-0d73-47f2-ac3c-37c798b86d37#/Basic/PhysicalNetwork_03001\">取得指定道路分類之道路引用參數</a><br />\r\n牌面類型(Type) 可輸入 指示、禁制、警告<br />\r\n牌面性質(Kind) 可輸入 指45(指示公路之里程)、限1(車輛總重之限制)、限3(車輛高度之限制)、限5(最高時速之限制)、限6(最低時速之限制)、警52(測速取締)<br />",
        "operationId": "PhysicalNetwork_03008",
        "parameters": [
          {
            "name": "RoadClass",
            "in": "path",
            "description": "道路等級",
            "required": true,
            "schema": {
              "enum": [
                "0",
                "1",
                "3"
              ],
              "type": "string",
              "default": "0"
            },
            "x-enum": {
              "0": "國道",
              "1": "省道快速道路",
              "3": "省道",
              "4": "縣道"
            }
          },
          {
            "name": "RoadName",
            "in": "path",
            "description": "道路名稱",
            "required": true,
            "schema": {
              "type": "string",
              "default": "國道1號"
            }
          },
          {
            "name": "Type",
            "in": "path",
            "description": "牌面類型(指示、禁制、警告)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "指示"
            }
          },
          {
            "name": "Kind",
            "in": "path",
[...]
