{
  "openapi": "3.0.4",
  "info": {
    "title": "停車資訊",
    "description": "本平臺提供涵蓋全國尺度之路外、路邊等停車動靜態資料服務API，歡迎各產政學單位介接使用。\n<br>後續將持續擴充各縣市、各港埠、各機場、各軌道場站、各觀光風景區、各高速公路休息站之停車場動靜態資料。\n<br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如：性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n<br>計費方式：\n<br>計次：1,500次/1點\n<br>計量：150MB/1點\n---\n##### API使用說明與注意事項：\n1. 如您尚未註冊平臺會員帳號，或未以帳號登入，您將僅能以「訪客模式」使用平臺服務，包含：限以瀏覽器存取，限使用`【基礎服務】`，且限制每個呼叫來源端IP每日存取至多20次。。\n2. 如您已註冊平臺會員帳號，請務必確保在存取服務(包含瀏覽器、程式呼叫API)時帶入您的API金鑰，方能以「會員模式」使用完整平臺服務，包含平臺各類資料服務，如`【基礎服務】`、`【進階服務】`、`【加值服務】`、`【歷史服務】`、`【圖資服務】`、`【第三方服務】`等。\n3. 建議您立即[註冊平臺會員帳號](/register)，依您用量需求訂閱服務方案，並於[【會員中心->資料服務->API金鑰】](/user/dataservice/key)取得API金鑰(即Client Id和Client Secret資訊)。\n4. 會員訂閱服務方案之級別不同，將決定其API金鑰之存取頻率有不同限制，各個方案的存取頻率限制說明請參考[訂閱收費](/pricing)。\n5. 以瀏覽器帶入API金鑰之操作方式：請點選Swagger UI上的Authorize按鈕，依指示填入Client Id和Client Secret資訊並進行驗證，驗證完成後可開始於Swagger UI使用API。\n6. 以程式呼叫API帶入API金鑰之操作方式：請參考[範例程式](https://github.com/tdxmotc/SampleCode)。\n7. 不論您是以瀏覽器或是以程式呼叫API，所有服務存取行為均將被記錄並定期檢視，以確保系統資源使用的合理分配與避免遭受濫用。\n\nAPI OAS文本 :[請點我](https://tdx.transportdata.tw/webapi/File/Swagger/V3/945f57da-f29d-4dfd-94ec-c35d9f62be7d)",
    "termsOfService": "https://tdx.transportdata.tw/term",
    "contact": {
      "name": "TDX客服信箱",
      "email": "tdx@motc.gov.tw"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://tdx.transportdata.tw/api/basic"
    }
  ],
  "paths": {
    "/v1/Parking/Alert/City/{City}": {
      "get": {
        "tags": [
          "CityCarPark"
        ],
        "summary": "取得指定[縣市]之停車營運通阻資料",
        "operationId": "ParkingApi_ParkingCityAlert",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "Keelung"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingLiveWrapper[PTX.Service.DTO.Parking.Specification.V1.Alert]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingLiveWrapper[PTX.Service.DTO.Parking.Specification.V1.Alert]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/Authority": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "取得業管機關資料",
        "operationId": "ParkingApi_Authority",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingAuthorityWrapper[PTX.Service.DTO.Parking.Specification.V1.Authority]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingAuthorityWrapper[PTX.Service.DTO.Parking.Specification.V1.Authority]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingAvailability/City/{City}": {
      "get": {
        "tags": [
          "CityCarPark"
        ],
        "summary": "取得指定[縣市]之停車場剩餘位資料",
        "operationId": "ParkingApi_ParkingCityAvailability",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "ChanghuaCounty",
                "YunlinCounty",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "KinmenCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingLiveWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingAvailability]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingLiveWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingAvailability]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/CarPark/City/{City}": {
      "get": {
        "tags": [
          "CityCarPark"
        ],
        "summary": "取得指定[縣市]之停車場基本資料",
        "operationId": "ParkingApi_CarPark",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.CarPark]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.CarPark]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OnStreet/ParkingSegmentChargeTime/City/{City}": {
      "get": {
        "tags": [
          "OnStreetParking"
        ],
        "summary": "取得指定[縣市]之路邊停車路段收費時段與費率資料",
        "operationId": "ParkingApi_ParkingCurbParkingSegmentChargeTime",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Tainan",
                "HualienCounty",
                "Kaohsiung",
                "HsinchuCounty",
                "Taichung",
                "NewTaipei",
                "Taoyuan",
                "PingtungCounty",
                "Taipei",
                "PenghuCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.CurbParkingSegmentChargeTime]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.CurbParkingSegmentChargeTime]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OnStreet/ParkingSegmentRate/City/{City}": {
      "get": {
        "tags": [
          "OnStreetParking"
        ],
        "summary": "取得指定[縣市]之路邊停車路段費率方案資料",
        "operationId": "ParkingApi_ParkingCurbParkingSegmentRate",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Tainan",
                "HualienCounty",
                "Kaohsiung",
                "HsinchuCounty",
                "Taichung",
                "NewTaipei",
                "Taoyuan",
                "PingtungCounty",
                "Taipei",
                "PenghuCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.CurbParkingSegmentRate]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.CurbParkingSegmentRate]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OnStreet/ParkingSpotChargeTime/City/{City}": {
      "get": {
        "tags": [
          "OnStreetParking"
        ],
        "summary": "取得指定[縣市]之路邊停車格位收費時段資料",
        "operationId": "ParkingApi_ParkingCurbParkingSpotChargeTime",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Tainan",
                "HualienCounty",
                "HsinchuCounty",
                "PingtungCounty",
                "Taipei",
                "Taichung"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.CurbParkingSpotChargeTime]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.CurbParkingSpotChargeTime]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OnStreet/ParkingSegment/City/{City}": {
      "get": {
        "tags": [
          "OnStreetParking"
        ],
        "summary": "取得指定[縣市]之路邊停車路段基本資料",
        "operationId": "ParkingApi_ParkingCurbParkingSegment",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "HsinchuCounty",
                "ChanghuaCounty",
                "PingtungCounty",
                "HualienCounty",
                "PenghuCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingSegment]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingSegment]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OnStreet/ParkingSegmentAvailability/City/{City}": {
      "get": {
        "tags": [
          "OnStreetParking"
        ],
        "summary": "取得指定[縣市]之路邊停車路段剩餘位動態資料",
        "operationId": "ParkingApi_ParkingCurbSegmentAvailability",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "ChanghuaCounty",
                "PingtungCounty",
                "HualienCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingLiveWrapper[PTX.Service.DTO.Parking.Specification.V1.CurbParkingSegmentAvailability]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingLiveWrapper[PTX.Service.DTO.Parking.Specification.V1.CurbParkingSegmentAvailability]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OnStreet/ParkingSegmentSpace/City/{City}": {
      "get": {
        "tags": [
          "OnStreetParking"
        ],
        "summary": "取得指定[縣市]之路邊停車路段車位數資料",
        "operationId": "ParkingApi_ParkingCurbParkingSegmentSpace",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "HsinchuCounty",
                "ChanghuaCounty",
                "PingtungCounty",
                "HualienCounty",
                "PenghuCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.CurbSegmentParkingSpace]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.CurbSegmentParkingSpace]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OnStreet/ParkingSpot/City/{City}": {
      "get": {
        "tags": [
          "OnStreetParking"
        ],
        "summary": "取得指定[縣市]之路邊停車格位基本資料",
        "operationId": "ParkingApi_ParkingCurbParkingSpot",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taichung",
                "Tainan",
                "HsinchuCounty",
                "PingtungCounty",
                "HualienCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingSegmentSpot]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingSegmentSpot]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OnStreet/ParkingSpotAvailability/City/{City}": {
      "get": {
        "tags": [
          "OnStreetParking"
        ],
        "summary": "取得指定[縣市]之路邊停車格位動態資料",
        "operationId": "ParkingApi_ParkingCurbParkingSpotAvailability",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taichung",
                "Tainan",
                "PingtungCounty",
                "HualienCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingLiveWrapper[PTX.Service.DTO.Parking.Specification.V1.CurbSpotParkingAvailability]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingLiveWrapper[PTX.Service.DTO.Parking.Specification.V1.CurbSpotParkingAvailability]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingFacility/City/{City}": {
      "get": {
        "tags": [
          "CityCarPark"
        ],
        "summary": "取得指定[縣市]之停車場設施資料",
        "operationId": "ParkingApi_ParkingFacilityList",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingFacility]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingFacility]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/News/City/{City}": {
      "get": {
        "tags": [
          "CityCarPark"
        ],
        "summary": "取得指定[縣市]之停車最新消息資料服務",
        "operationId": "ParkingApi_ParkingCityNews",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingLiveWrapper[PTX.Service.DTO.Parking.Specification.V1.News]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingLiveWrapper[PTX.Service.DTO.Parking.Specification.V1.News]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/Operator/City/{City}": {
      "get": {
        "tags": [
          "CityCarPark"
        ],
        "summary": "取得指定[縣市]之停車場營運業者資料",
        "operationId": "ParkingApi_Operator",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.Operator]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.Operator]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingEntranceExit/City/{City}": {
      "get": {
        "tags": [
          "CityCarPark"
        ],
        "summary": "取得指定[縣市]之停車場出入口資料",
        "operationId": "ParkingApi_ParkingEntranceExit",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingEntranceExit]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingEntranceExit]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingRate/City/{City}": {
      "get": {
        "tags": [
          "CityCarPark"
        ],
        "summary": "取得指定[縣市]之停車場費率資料",
        "operationId": "ParkingApi_ParkingRate",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingRate]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingRate]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingServiceTime/City/{City}": {
      "get": {
        "tags": [
          "CityCarPark"
        ],
        "summary": "取得指定[縣市]之停車場營業時間資料",
        "operationId": "ParkingApi_ParkingServiceTime",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ServiceTime]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ServiceTime]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingSpace/City/{City}": {
      "get": {
        "tags": [
          "CityCarPark"
        ],
        "summary": "取得指定[縣市]之停車場車位數資料",
        "operationId": "ParkingApi_ParkingSpace",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingSpace]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingSpace]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingSpot/City/{City}": {
      "get": {
        "tags": [
          "CityCarPark"
        ],
        "summary": "取得指定[縣市]之停車場格位資料",
        "operationId": "ParkingApi_ParkingSpot",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "YunlinCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingSpot]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingSpot]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingSpotAvailability/City/{City}": {
      "get": {
        "tags": [
          "CityCarPark"
        ],
        "summary": "取得指定[縣市]之停車場格位動態資料",
        "operationId": "ParkingApi_ParkingCitySpotAvailability",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Keelung"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingLiveWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingSpotAvailability]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingLiveWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingSpotAvailability]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingTicketing/City/{City}": {
      "get": {
        "tags": [
          "CityCarPark"
        ],
        "summary": "取得指定[縣市]之停車場售票服務資料",
        "operationId": "ParkingApi_ParkingTicketing",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.Ticketing]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.Ticketing]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/CarPark/To/Toursim/ScenicSpot": {
      "get": {
        "tags": [
          "TransportCarParkRelation"
        ],
        "summary": "取得所有觀光景點與停車場關聯資料",
        "operationId": "ParkingApi_ScenicSpotCarParkList",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ScenicSpotCarPark]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ScenicSpotCarPark]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingAvailability/Tourism": {
      "get": {
        "tags": [
          "TourismCarPark"
        ],
        "summary": "取得觀光相關之停車場剩餘位資料",
        "operationId": "ParkingApi_ParkingTourismAvailability",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingLiveWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingAvailability]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingLiveWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingAvailability]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/CarPark/Tourism": {
      "get": {
        "tags": [
          "TourismCarPark"
        ],
        "summary": "取得所有觀光景點之停車場資料",
        "operationId": "ParkingApi_TourismCarPark",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.CarPark]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.CarPark]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingFacility/Tourism": {
      "get": {
        "tags": [
          "TourismCarPark"
        ],
        "summary": "取得觀光相關之所有停車場設施資料",
        "operationId": "ParkingApi_ParkingFacilityTourism",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingFacility]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingFacility]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/Operator/Tourism": {
      "get": {
        "tags": [
          "TourismCarPark"
        ],
        "summary": "取得觀光相關之所有停車場營運業者資料",
        "operationId": "ParkingApi_TourismOperator",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.Operator]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.Operator]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingEntranceExit/Tourism": {
      "get": {
        "tags": [
          "TourismCarPark"
        ],
        "summary": "取得所有觀光景點之停車場出入口資料",
        "operationId": "ParkingApi_TourismParkingEntranceExit",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingEntranceExit]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingEntranceExit]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingRate/Tourism": {
      "get": {
        "tags": [
          "TourismCarPark"
        ],
        "summary": "取得觀光相關之所有停車場費率資料",
        "operationId": "ParkingApi_ParkingRateTourism",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingRate]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingRate]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingServiceTime/Tourism": {
      "get": {
        "tags": [
          "TourismCarPark"
        ],
        "summary": "取得觀光相關之所有停車場營業時間資料",
        "operationId": "ParkingApi_ParkingServiceTimeTourism",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ServiceTime]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ServiceTime]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingSpace/Tourism": {
      "get": {
        "tags": [
          "TourismCarPark"
        ],
        "summary": "取得觀光相關之所有停車場車位數資料",
        "operationId": "ParkingApi_ParkingSpaceTourism",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingSpace]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingSpace]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingTicketing/Tourism": {
      "get": {
        "tags": [
          "TourismCarPark"
        ],
        "summary": "取得觀光相關之所有停車場售票服務資料",
        "operationId": "ParkingApi_ParkingTicketingTourism",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.Ticketing]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.Ticketing]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/CarPark/Ship/Port/{Authority}": {
      "get": {
        "tags": [
          "ShipPortCarPark"
        ],
        "summary": "取得指定[單位]港口停車場基本資料",
        "operationId": "ParkingApi_ShipCarPark",
        "parameters": [
          {
            "name": "Authority",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "TIPC"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.CarPark]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.CarPark]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/ParkingFacility/Ship/Port/{Authority}": {
      "get": {
        "tags": [
          "ShipPortCarPark"
        ],
        "summary": "取得指定[單位]港口之停車場設施資料",
        "operationId": "ParkingApi_ShipFacility",
        "parameters": [
          {
            "name": "Authority",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "TIPC"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingFacility]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Parking.Model.ParkingWrapper[PTX.Service.DTO.Parking.Specification.V1.ParkingFacility]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Parking/OffStreet/Operator/Ship/Port/{Authority}": {
      "get": {
        "tags": [
          "ShipPortCarPark"
        ],
        "summary": "取得指定[單位]港口之停車場營運業者資料",
        "operationId": "ParkingApi_ShipOperator",
        "parameters": [
          {
            "name": "Authority",
            "in": "path",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "TIPC"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
[...]
