{
  "openapi": "3.0.4",
  "info": {
    "title": "公共運輸-公車",
    "description": "本平臺提供涵蓋全國尺度之交通旅運資料服務API，歡迎各產政學單位介接使用。\n<br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如：性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n<br>計費方式：\n<br>計次：200次/1點\n<br>計量：20MB/1點\n---\n##### API使用說明與注意事項：\n1. 如您尚未註冊平臺會員帳號，或未以帳號登入，您將僅能以「訪客模式」使用平臺服務，包含：限以瀏覽器存取，限使用`【基礎服務】`，且限制每個呼叫來源端IP每日存取至多20次。。\n2. 如您已註冊平臺會員帳號，請務必確保在存取服務(包含瀏覽器、程式呼叫API)時帶入您的API金鑰，方能以「會員模式」使用完整平臺服務，包含平臺各類資料服務，如`【基礎服務】`、`【進階服務】`、`【加值服務】`、`【歷史服務】`、`【圖資服務】`、`【第三方服務】`等。\n3. 建議您立即[註冊平臺會員帳號](/register)，依您用量需求訂閱服務方案，並於[【會員中心->資料服務->API金鑰】](/user/dataservice/key)取得API金鑰(即Client Id和Client Secret資訊)。\n4. 會員訂閱服務方案之級別不同，將決定其API金鑰之存取頻率有不同限制，各個方案的存取頻率限制說明請參考[訂閱收費](/pricing)。\n5. 以瀏覽器帶入API金鑰之操作方式：請點選Swagger UI上的Authorize按鈕，依指示填入Client Id和Client Secret資訊並進行驗證，驗證完成後可開始於Swagger UI使用API。\n6. 以程式呼叫API帶入API金鑰之操作方式：請參考[範例程式](https://github.com/tdxmotc/SampleCode)。\n7. 不論您是以瀏覽器或是以程式呼叫API，所有服務存取行為均將被記錄並定期檢視，以確保系統資源使用的合理分配與避免遭受濫用。\n\nAPI OAS文本 :[請點我](https://tdx.transportdata.tw/webapi/File/Swagger/V3/b1b2b02c-b5f3-405f-aff5-7b912b3e8623)",
    "termsOfService": "https://tdx.transportdata.tw/term",
    "contact": {
      "name": "TDX客服信箱",
      "email": "tdx@motc.gov.tw"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://tdx.transportdata.tw/api/advanced"
    }
  ],
  "paths": {
    "/v2/Bus/Stop/NearBy": {
      "get": {
        "tags": [
          "Bus Advanced(Near By)"
        ],
        "summary": "取得指定[位置,範圍]的全臺公車站牌資料",
        "description": "取得指定[位置,範圍]的全臺公車站牌資料",
        "operationId": "BusApi_Stop_NearBy_2850",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾(最大搜尋半徑為1000公尺)，語法為 nearby({Lat},{Lon},{DistanceInMeters})，例如 nearby(25.047675, 121.517055, 100)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStop"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStop"
                  },
                  "xml": {
                    "name": "ArrayOfBusStop",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Station/NearBy": {
      "get": {
        "tags": [
          "Bus Advanced(Near By)"
        ],
        "summary": "取得指定[位置,範圍]的全臺公車站位資料",
        "description": "取得指定[位置,範圍]的全臺公車站位資料",
        "operationId": "BusApi_Station_NearBy_2851",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾(最大搜尋半徑為1000公尺)，語法為 nearby({Lat},{Lon},{DistanceInMeters})，例如 nearby(25.047675, 121.517055, 100)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStation"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStation"
                  },
                  "xml": {
                    "name": "ArrayOfBusStation",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Route/NearBy": {
      "get": {
        "tags": [
          "Bus Advanced(Near By)"
        ],
        "summary": "取得指定[位置,範圍]的全臺公車路線資料",
        "description": "取得指定[位置,範圍]的全臺公車路線資料",
        "operationId": "BusApi_Route_NearBy_2852",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾(最大搜尋半徑為1000公尺)，語法為 nearby({Lat},{Lon},{DistanceInMeters})，例如 nearby(25.047675, 121.517055, 100)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusRoute"
                  },
                  "xml": {
                    "name": "ArrayOfBusRoute",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeByFrequency/NearBy": {
      "get": {
        "tags": [
          "Bus Advanced(Near By)"
        ],
        "summary": "取得指定[位置,範圍]的全臺公車動態定時資料(A1)",
        "description": "取得指定[位置,範圍]的全臺公車動態定時資料(A1)",
        "operationId": "BusApi_RealTimeByFrequency_NearBy_2853",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾(最大搜尋半徑為1000公尺)，語法為 nearby({Lat},{Lon},{DistanceInMeters})，例如 nearby(25.047675, 121.517055, 100)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA1Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeNearStop/NearBy": {
      "get": {
        "tags": [
          "Bus Advanced(Near By)"
        ],
        "summary": "取得指定[位置,範圍]的全臺公車動態定點資料(A2)",
        "description": "取得指定[位置,範圍]的全臺公車動態定點資料(A2)",
        "operationId": "BusApi_RealTimeNearStop_NearBy_2854",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾(最大搜尋半徑為1000公尺)，語法為 nearby({Lat},{Lon},{DistanceInMeters})，例如 nearby(25.047675, 121.517055, 100)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA2Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/EstimatedTimeOfArrival/NearBy": {
      "get": {
        "tags": [
          "Bus Advanced(Near By)"
        ],
        "summary": "取得指定[位置,範圍]的全臺公車預估到站資料(N1)",
        "description": "取得指定[位置,範圍]的全臺公車預估到站資料(N1)",
        "operationId": "BusApi_EstimatedTimeOfArrival_NearBy_2855",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾(最大搜尋半徑為1000公尺)，語法為 nearby({Lat},{Lon},{DistanceInMeters})，例如 nearby(25.047675, 121.517055, 100)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusN1EstimateTime"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusN1EstimateTime"
                  },
                  "xml": {
                    "name": "ArrayOfBusN1EstimateTime",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeByFrequency/City/{City}/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[縣市],[業者編號]的市區公車動態定時資料(A1)",
        "operationId": "CityBusApi_RealTimeByFrequency_ByOperator_2856",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA1Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeNearStop/City/{City}/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[縣市],[業者編號]的市區公車動態定點資料(A2)",
        "operationId": "CityBusApi_RealTimeNearStop_ByOperator_2857",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA2Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Route/City/{City}/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[縣市],[業者編號]的市區公車路線資料",
        "operationId": "CityBusApi_Route_ByOperator_2859",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusRoute"
                  },
                  "xml": {
                    "name": "ArrayOfBusRoute",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Stop/City/{City}/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[縣市],[業者編號]的市區公車站牌資料",
        "operationId": "CityBusApi_Stop_ByOperator_2860",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStop"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStop"
                  },
                  "xml": {
                    "name": "ArrayOfBusStop",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Station/City/{City}/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[縣市],[業者編號]的市區公車站位資料",
        "operationId": "CityBusApi_Station_ByOperator_2861",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStation"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStation"
                  },
                  "xml": {
                    "name": "ArrayOfBusStation",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/StopOfRoute/City/{City}/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[縣市],[業者編號]的市區公車路線站序資料",
        "operationId": "CityBusApi_StopOfRoute_ByOperator_2862",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStopOfRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStopOfRoute"
                  },
                  "xml": {
                    "name": "ArrayOfBusStopOfRoute",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Schedule/City/{City}/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[縣市],[業者編號]的市區公車班表資料",
        "operationId": "CityBusApi_Schedule_ByOperator_2863",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusSchedule"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusSchedule"
                  },
                  "xml": {
                    "name": "ArrayOfBusSchedule",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Shape/City/{City}/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[縣市],[業者編號]的市區公車線型資料",
        "operationId": "CityBusApi_Shape_ByOperator_2864",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusShape"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusShape"
                  },
                  "xml": {
                    "name": "ArrayOfBusShape",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RouteFare/City/{City}/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[縣市],[業者編號]的市區公車路線票價資料",
        "operationId": "CityBusApi_RouteFare_ByOperator_2865",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taoyuan",
                "Taichung",
                "Kaohsiung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusRouteFare"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusRouteFare"
                  },
                  "xml": {
                    "name": "ArrayOfBusRouteFare",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeByFrequency/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[業者編號]的全臺公車動態定時資料(A1)",
        "operationId": "BusApi_RealTimeByFrequency_ByOperator_2866",
        "parameters": [
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA1Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeNearStop/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[業者編號]的全臺公車動態定點資料(A2)",
        "operationId": "BusApi_RealTimeNearStop_ByOperator_2867",
        "parameters": [
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA2Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Route/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[業者編號]的全臺公車路線資料",
        "operationId": "BusApi_Route_ByOperator_2869",
        "parameters": [
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusRoute"
                  },
                  "xml": {
                    "name": "ArrayOfBusRoute",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Stop/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[業者編號]的全臺公車站牌資料",
        "operationId": "BusApi_Stop_ByOperator_2872",
        "parameters": [
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStop"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStop"
                  },
                  "xml": {
                    "name": "ArrayOfBusStop",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Station/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[業者編號]的全臺公車站位資料",
        "operationId": "BusApi_Station_ByOperator_2873",
        "parameters": [
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStation"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStation"
                  },
                  "xml": {
                    "name": "ArrayOfBusStation",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/StopOfRoute/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[業者編號]的全臺公車路線站序資料",
        "operationId": "BusApi_StopOfRoute_ByOperator_2874",
        "parameters": [
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStopOfRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStopOfRoute"
                  },
                  "xml": {
                    "name": "ArrayOfBusStopOfRoute",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Schedule/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[業者編號]的全臺公車班表資料",
        "operationId": "BusApi_Schedule_ByOperator_2875",
        "parameters": [
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusSchedule"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusSchedule"
                  },
                  "xml": {
                    "name": "ArrayOfBusSchedule",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Shape/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[業者編號]的全臺公車線型資料",
        "operationId": "BusApi_Shape_ByOperator_2876",
        "parameters": [
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusShape"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusShape"
                  },
                  "xml": {
                    "name": "ArrayOfBusShape",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RouteFare/OperatorNo/{OperatorNo}": {
      "get": {
        "tags": [
          "Bus Advanced(By Operator)"
        ],
        "summary": "取得指定[業者編號]的全臺公車路線票價資料",
        "operationId": "BusApi_RouteFare_ByOperator_2877",
        "parameters": [
          {
            "name": "OperatorNo",
            "in": "path",
            "description": "欲查詢營運業者編號",
            "required": true,
            "schema": {
              "title": "String",
[...]
