{
  "openapi": "3.0.4",
  "info": {
    "title": "公共運輸-軌道",
    "description": "本平臺提供涵蓋全國尺度之交通旅運資料服務API，歡迎各產政學單位介接使用。\n<br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如：性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n<br>計費方式：\n<br>計次：1,500次/1點\n<br>計量：150MB/1點\n---\n##### API使用說明與注意事項：\n1. 如您尚未註冊平臺會員帳號，或未以帳號登入，您將僅能以「訪客模式」使用平臺服務，包含：限以瀏覽器存取，限使用`【基礎服務】`，且限制每個呼叫來源端IP每日存取至多20次。。\n2. 如您已註冊平臺會員帳號，請務必確保在存取服務(包含瀏覽器、程式呼叫API)時帶入您的API金鑰，方能以「會員模式」使用完整平臺服務，包含平臺各類資料服務，如`【基礎服務】`、`【進階服務】`、`【加值服務】`、`【歷史服務】`、`【圖資服務】`、`【第三方服務】`等。\n3. 建議您立即[註冊平臺會員帳號](/register)，依您用量需求訂閱服務方案，並於[【會員中心->資料服務->API金鑰】](/user/dataservice/key)取得API金鑰(即Client Id和Client Secret資訊)。\n4. 會員訂閱服務方案之級別不同，將決定其API金鑰之存取頻率有不同限制，各個方案的存取頻率限制說明請參考[訂閱收費](/pricing)。\n5. 以瀏覽器帶入API金鑰之操作方式：請點選Swagger UI上的Authorize按鈕，依指示填入Client Id和Client Secret資訊並進行驗證，驗證完成後可開始於Swagger UI使用API。\n6. 以程式呼叫API帶入API金鑰之操作方式：請參考[範例程式](https://github.com/tdxmotc/SampleCode)。\n7. 不論您是以瀏覽器或是以程式呼叫API，所有服務存取行為均將被記錄並定期檢視，以確保系統資源使用的合理分配與避免遭受濫用。\n\nAPI OAS文本 :[請點我](https://tdx.transportdata.tw/webapi/File/Swagger/V3/5fa88b0c-120b-43f1-b188-c379ddb2593d)",
    "termsOfService": "https://tdx.transportdata.tw/term",
    "contact": {
      "name": "TDX客服信箱",
      "email": "tdx@motc.gov.tw"
    },
    "version": "v3"
  },
  "servers": [
    {
      "url": "https://tdx.transportdata.tw/api/basic"
    }
  ],
  "paths": {
    "/v3/Rail/TRA/Network": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得臺鐵路網資料",
        "description": "取得臺鐵路網資料",
        "operationId": "NetworkApiController_Get_3200",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRABaseWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.Network.Network]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRABaseWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.Network.Network]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/Station": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得車站基本資料",
        "description": "取得車站基本資料",
        "operationId": "StationApiController_Get_3201",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRABaseWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.Station]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRABaseWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.Station]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/StationExit": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得車站出入口基本資料",
        "description": "取得車站出入口基本資料",
        "operationId": "StationExitApiController_Get_3202",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRABaseWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.StationExit.StationExit]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRABaseWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.StationExit.StationExit]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/StationFacility": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得車站設施資料",
        "description": "取得車站設施資料",
        "operationId": "StationFacilityApiController_Get_3203",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRABaseWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.StationFacility.StationFacility]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRABaseWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.StationFacility.StationFacility]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/Line": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得路線基本資料",
        "description": "取得路線基本資料",
        "operationId": "LineApiController_Get_3204",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRABaseWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.Line]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRABaseWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.Line]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/StationOfLine": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得路線車站基本資料",
        "description": "取得路線車站基本資料",
        "operationId": "StationOfLineApiController_Get_3205",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRABaseWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.StationOfLine.StationOfLine]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRABaseWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.StationOfLine.StationOfLine]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/TrainType": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得所有列車車種資料",
        "description": "取得所有列車車種資料",
        "operationId": "TrainTypeApiController_Get_3206",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRABaseWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.TrainType]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRABaseWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.TrainType]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/ODFare": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得票價資料(檔案)",
        "description": "取得Gzip壓縮檔",
        "operationId": "ODFareApiControllerApiController_Get_3207",
        "parameters": [
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gzipped Attachment Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRAODFareWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.ODFare.ODFare]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRAODFareWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.ODFare.ODFare]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/ODFare/{OriginStationID}/to/{DestinationStationID}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定起迄站間票價資料",
        "description": "取得指定起迄站間票價資料",
        "operationId": "ODFareApiControllerApiController_Get_3207_1",
        "parameters": [
          {
            "name": "OriginStationID",
            "in": "path",
            "description": "起點車站代碼",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "DestinationStationID",
            "in": "path",
            "description": "迄點車站代碼",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRAODFareWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.ODFare.ODFare]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRAODFareWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.ODFare.ODFare]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/GeneralTrainTimetable": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得所有車次的定期時刻表資料",
        "description": "取得所有車次的定期時刻表資料",
        "operationId": "GeneralTrainTimetableApiController_Get_3208",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRAGeneralTrainWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.GeneralTrainTimetable]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRAGeneralTrainWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.GeneralTrainTimetable]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/GeneralTrainTimetable/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[車次]的定期時刻表資料",
        "description": "取得指定[車次]的定期時刻表資料",
        "operationId": "GeneralTrainTimetableApiController_Get_3208_1",
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRAGeneralTrainWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.GeneralTrainTimetable]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRAGeneralTrainWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.GeneralTrainTimetable]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/GeneralStationTimetable": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得各站的定期站別時刻表資料",
        "description": "取得各站的定期站別時刻表資料",
        "operationId": "GeneralStationTimetableApiController_Get_3209",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRAGeneralStationWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.GeneralStationTimetable.GeneralStationTimetable]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRAGeneralStationWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.GeneralStationTimetable.GeneralStationTimetable]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/GeneralStationTimetable/Station/{StationID}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[車站]的定期站別時刻表資料",
        "description": "取得指定[車站]的定期站別時刻表資料",
        "operationId": "GeneralStationTimetableApiController_Get_3209_1",
        "parameters": [
          {
            "name": "StationID",
            "in": "path",
            "description": "欲查詢車站的代碼",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRAGeneralStationWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.GeneralStationTimetable.GeneralStationTimetable]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRAGeneralStationWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.GeneralStationTimetable.GeneralStationTimetable]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/SpecificTrainTimetable": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得所有特殊車次時刻表資料",
        "description": "取得所有特殊車次時刻表資料",
        "operationId": "SpecificTrainTimetableApiController_Get_3210",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRASpecificWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.SpecificTrainTimetable]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRASpecificWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.SpecificTrainTimetable]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/SpecificTrainTimetable/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[車次]的特殊車次時刻表資料",
        "description": "取得指定[車次]的特殊車次時刻表資料",
        "operationId": "SpecificTrainTimetableApiController_Get_3210_1",
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRASpecificWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.SpecificTrainTimetable]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRASpecificWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.SpecificTrainTimetable]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyTrainTimetable/Today": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得當天車次時刻表資料",
        "description": "取得當天車次時刻表資料",
        "operationId": "DailyTrainTimeTableApiController_Get_3211",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TraDailyTrainWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.DailyTrainTimeTable.TrainTimetable]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TraDailyTrainWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.DailyTrainTimeTable.TrainTimetable]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyTrainTimetable/Today/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得當天指定[車次]的時刻表資料",
        "description": "取得當天指定[車次]的時刻表資料",
        "operationId": "DailyTrainTimeTableApiController_Get_3211_1",
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TraDailyTrainWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.DailyTrainTimeTable.TrainTimetable]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TraDailyTrainWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.DailyTrainTimeTable.TrainTimetable]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyTrainTimetable/TrainDates": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得臺鐵每日時刻表所有供應的日期資料",
        "description": "取得臺鐵每日時刻表所有供應的日期資料",
        "operationId": "DailyTrainTimeTableApiController_Get_3211_2",
        "parameters": [
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TrainDateList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TrainDateList"
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyTrainTimetable/TrainDate/{TrainDate}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[日期]所有車次的時刻表資料",
        "description": "取得指定[日期]所有車次的時刻表資料(台鐵提供近60天每日時刻表)",
        "operationId": "DailyTrainTimeTableApiController_Get_3211_3",
        "parameters": [
          {
            "name": "TrainDate",
            "in": "path",
            "description": "欲查詢車次的日期(格式: yyyy-MM-dd)",
            "required": true,
            "schema": {
              "title": "DateTime",
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TraDailyTrainWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.DailyTrainTimeTable.TrainTimetable]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TraDailyTrainWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.DailyTrainTimeTable.TrainTimetable]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyTrainTimetable/OD/{OriginStationID}/to/{DestinationStationID}/{TrainDate}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[日期],[起迄站間]之站間時刻表資料(僅列出查詢的停靠站)",
        "description": "取得指定[日期],[起迄站間]之站間時刻表資料(僅列出查詢的停靠站)",
        "operationId": "DailyTrainTimeTableApiController_Get_3211_4",
        "parameters": [
          {
            "name": "TrainDate",
            "in": "path",
            "description": "欲查詢的日期(格式: yyyy-MM-dd)",
            "required": true,
            "schema": {
              "title": "DateTime",
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "OriginStationID",
            "in": "path",
            "description": "起點車站代碼",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "DestinationStationID",
            "in": "path",
            "description": "迄點車站代碼",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TraDailyTrainWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.DailyTrainTimeTable.TrainTimetable]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TraDailyTrainWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.DailyTrainTimeTable.TrainTimetable]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyTrainTimetable/OD/Inclusive/{OriginStationID}/to/{DestinationStationID}/{TrainDate}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[日期],[起迄站間]之站間時刻表資料",
        "description": "取得指定[日期],[起迄站間]之站間時刻表資料",
        "operationId": "DailyTrainTimeTableApiController_Get_3211_5",
        "parameters": [
          {
            "name": "TrainDate",
            "in": "path",
            "description": "欲查詢的日期(格式: yyyy-MM-dd)",
            "required": true,
            "schema": {
              "title": "DateTime",
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "OriginStationID",
            "in": "path",
            "description": "起點車站代碼",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "DestinationStationID",
            "in": "path",
            "description": "迄點車站代碼",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TraDailyTrainWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.DailyTrainTimeTable.TrainTimetable]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TraDailyTrainWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.DailyTrainTimeTable.TrainTimetable]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyStationTimetable/Today": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得當天各站站別時刻表資料",
        "description": "取得當天各站站別時刻表資料",
        "operationId": "DailyStationTimeTableApiController_Get_3212",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TraDailyStationWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.DailyStationTimeTable.StationTimetable]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TraDailyStationWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.DailyStationTimeTable.StationTimetable]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyStationTimetable/Today/Station/{StationID}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得當天指定[車站]的時刻表資料",
        "description": "取得當天指定[車站]的時刻表資料",
        "operationId": "DailyStationTimeTableApiController_Get_3212_1",
        "parameters": [
          {
            "name": "StationID",
            "in": "path",
            "description": "欲查詢車站的代碼",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TraDailyStationWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.DailyStationTimeTable.StationTimetable]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TraDailyStationWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.DailyStationTimeTable.StationTimetable]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyStationTimetable/TrainDate/{TrainDate}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得各站每日站別時刻表資料",
        "description": "取得各站每日站別時刻表資料",
        "operationId": "DailyStationTimeTableApiController_Get_3212_2",
        "parameters": [
          {
            "name": "TrainDate",
            "in": "path",
            "description": "欲查詢的日期(格式: yyyy-MM-dd)",
            "required": true,
            "schema": {
              "title": "DateTime",
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TraDailyStationWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.DailyStationTimeTable.StationTimetable]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TraDailyStationWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.DailyStationTimeTable.StationTimetable]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/StationLiveBoard": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得列車即時到離站資料",
        "description": "取得列車即時到離站資料",
        "operationId": "StationLiveBoardApiController_Get_3213",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRARealTimeWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.TRAStationLiveBoardList.StationLiveBoard]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRARealTimeWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.TRAStationLiveBoardList.StationLiveBoard]"
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/StationLiveBoard/Station/{StationID}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[車站]的列車即時到離站資料",
        "description": "取得指定[車站]的列車即時到離站資料",
        "operationId": "StationLiveBoardApiController_Get_3213_1",
        "parameters": [
          {
            "name": "StationID",
            "in": "path",
            "description": "欲查詢車站的代碼",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRARealTimeWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.TRAStationLiveBoardList.StationLiveBoard]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRARealTimeWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.TRAStationLiveBoardList.StationLiveBoard]"
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/TrainLiveBoard": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得列車即時位置動態資料",
        "description": "取得列車即時位置動態資料\n\n## 使用注意事項\n1.  本項資料為「列車目前所在之車站」資料，而更新資料的時機點為「列車離站時」(由 CTC 提供)，其內容之車站資料可能為經過站，也可能為停靠站。\n2.  以「145車次」為例，如果車站名稱為「萬華」，表示 145 車次剛從萬華離開，而不是正前往萬華，另萬華站為145 車次之經過站，非停靠站。\n3.  提供所有經過站資料是為確保車次的準誤點資料都會是最新的 (尤其是東部幹線普悠瑪、太魯閣車次，因停靠站少，更新頻率低的話會使呈現的準誤點時間誤差過大)。\n4.  基於上述原因，本項資料並非僅提供列車停靠站資料，因為這樣提供方式會使列車位置資訊更狹隘，例如:只知道離開台北站，不曉得經過哪一站了，故請加值者使用時多加注意。",
        "operationId": "TrainLiveBoardApiController_Get_3214",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRARealTimeWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.TRATrainLiveBoardList.TrainLiveBoard]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRARealTimeWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.TRATrainLiveBoardList.TrainLiveBoard]"
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/TrainLiveBoard/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[車次]的列車即時位置動態資料",
        "description": "取得指定[車次]的列車即時位置動態資料\n\n## 使用注意事項\n1.  本項資料為「列車目前所在之車站」資料，而更新資料的時機點為「列車離站時」(由 CTC 提供)，其內容之車站資料可能為經過站，也可能為停靠站。\n2.  以「145車次」為例，如果車站名稱為「萬華」，表示 145 車次剛從萬華離開，而不是正前往萬華，另萬華站為145 車次之經過站，非停靠站。\n3.  提供所有經過站資料是為確保車次的準誤點資料都會是最新的 (尤其是東部幹線普悠瑪、太魯閣車次，因停靠站少，更新頻率低的話會使呈現的準誤點時間誤差過大)。\n4.  基於上述原因，本項資料並非僅提供列車停靠站資料，因為這樣提供方式會使列車位置資訊更狹隘，例如:只知道離開台北站，不曉得經過哪一站了，故請加值者使用時多加注意。",
        "operationId": "TrainLiveBoardApiController_Get_3214_1",
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRARealTimeWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.TRATrainLiveBoardList.TrainLiveBoard]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.TRARealTimeWrapper[PTX.Service.DTO.Rail.Specification.V3.TRA.TRATrainLiveBoardList.TrainLiveBoard]"
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/LineTransfer": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得內部路線轉乘資料",
        "description": "取得內部路線轉乘資料",
        "operationId": "LineTransferApiController_Get_3215",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
[...]
