{
  "openapi": "3.0.4",
  "info": {
    "title": "公共運輸-公車",
    "description": "本平臺提供涵蓋全國尺度之交通旅運資料服務API，歡迎各產政學單位介接使用。\n<br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如：性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n<br>計費方式：\n<br>計次：1,500次/1點\n<br>計量：150MB/1點\n---\n##### API使用說明與注意事項：\n1. 如您尚未註冊平臺會員帳號，或未以帳號登入，您將僅能以「訪客模式」使用平臺服務，包含：限以瀏覽器存取，限使用`【基礎服務】`，且限制每個呼叫來源端IP每日存取至多20次。。\n2. 如您已註冊平臺會員帳號，請務必確保在存取服務(包含瀏覽器、程式呼叫API)時帶入您的API金鑰，方能以「會員模式」使用完整平臺服務，包含平臺各類資料服務，如`【基礎服務】`、`【進階服務】`、`【加值服務】`、`【歷史服務】`、`【圖資服務】`、`【第三方服務】`等。\n3. 建議您立即[註冊平臺會員帳號](/register)，依您用量需求訂閱服務方案，並於[【會員中心->資料服務->API金鑰】](/user/dataservice/key)取得API金鑰(即Client Id和Client Secret資訊)。\n4. 會員訂閱服務方案之級別不同，將決定其API金鑰之存取頻率有不同限制，各個方案的存取頻率限制說明請參考[訂閱收費](/pricing)。\n5. 以瀏覽器帶入API金鑰之操作方式：請點選Swagger UI上的Authorize按鈕，依指示填入Client Id和Client Secret資訊並進行驗證，驗證完成後可開始於Swagger UI使用API。\n6. 以程式呼叫API帶入API金鑰之操作方式：請參考[範例程式](https://github.com/tdxmotc/SampleCode)。\n7. 不論您是以瀏覽器或是以程式呼叫API，所有服務存取行為均將被記錄並定期檢視，以確保系統資源使用的合理分配與避免遭受濫用。\n\nAPI OAS文本 :[請點我](https://tdx.transportdata.tw/webapi/File/Swagger/V3/2998e851-81d0-40f5-b26d-77e2f5ac4118)",
    "termsOfService": "https://tdx.transportdata.tw/term",
    "contact": {
      "name": "TDX客服信箱",
      "email": "tdx@motc.gov.tw"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://tdx.transportdata.tw/api/basic"
    }
  ],
  "paths": {
    "/v2/Bus/RealTimeByFrequency/Streaming/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車動態定時資料(A1)[逐筆更新]",
        "description": "### 市區公車之定時資料(A1) ###\n- [逐筆更新]與[批次更新]之差異請詳見運輸資料使用指引([連結](https://motc-ptx.gitbook.io/tdx-zi-liao-shi-yong-kui-hua-bao-dian/data_notice/public_transportation_data/bus_dynamic_data))",
        "operationId": "CityBusApi_RealTimeByFrequency_UDP_2046",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "PenghuCounty",
                "Keelung"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA1Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeByFrequency/Streaming/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車動態定時資料(A1)[逐筆更新]",
        "description": "### 市區公車之定時資料(A1) ###\n- [逐筆更新]與[批次更新]之差異請詳見運輸資料使用指引([連結](https://motc-ptx.gitbook.io/tdx-zi-liao-shi-yong-kui-hua-bao-dian/data_notice/public_transportation_data/bus_dynamic_data))",
        "operationId": "CityBusApi_RealTimeByFrequency_UDP_2046_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "PenghuCounty",
                "Keelung"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA1Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeNearStop/Streaming/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車動態定點資料(A2)[逐筆更新]",
        "description": "### 市區公車之定點資料(A2) ###\n- [逐筆更新]與[批次更新]之差異請詳見運輸資料使用指引([連結](https://motc-ptx.gitbook.io/tdx-zi-liao-shi-yong-kui-hua-bao-dian/data_notice/public_transportation_data/bus_dynamic_data))",
        "operationId": "CityBusApi_RealTimeNearStop_UDP_2047",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "PenghuCounty",
                "Keelung"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA2Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeNearStop/Streaming/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車動態定點資料(A2)[逐筆更新]",
        "description": "### 市區公車之定點資料(A2) ###\n- [逐筆更新]與[批次更新]之差異請詳見運輸資料使用指引([連結](https://motc-ptx.gitbook.io/tdx-zi-liao-shi-yong-kui-hua-bao-dian/data_notice/public_transportation_data/bus_dynamic_data))",
        "operationId": "CityBusApi_RealTimeNearStop_UDP_2047_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "PenghuCounty",
                "Keelung"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA2Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/EstimatedTimeOfArrival/Streaming/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車預估到站資料(N1)[逐筆更新]",
        "description": "### 市區公車之預估到站資料(N1) ###\n- [部分縣市] 當 StopStatus = 1(尚未發車) 且 EstimateTime > 0 (有值) 的情形, 屬正常情形, 雖目前尚未發車, 但提供EstimateTime值為預計多久後開始發車之時間。\n- [逐筆更新]與[批次更新]之差異請詳見運輸資料使用指引([連結](https://motc-ptx.gitbook.io/tdx-zi-liao-shi-yong-kui-hua-bao-dian/data_notice/public_transportation_data/bus_dynamic_data))\n- N1僅於該路線上有任一車輛離站時，來源端才會重新計算並發佈，因此使用者需自行處理時間遞減機制，或以EstimateTime-(收到資料時間-SrcTrasTime)(秒)作為實際預估抵達時間。",
        "operationId": "CityBusApi_EstimatedTimeOfArrival_UDP_2048",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "PenghuCounty",
                "Keelung"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusN1EstimateTime"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusN1EstimateTime"
                  },
                  "xml": {
                    "name": "ArrayOfBusN1EstimateTime",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/EstimatedTimeOfArrival/Streaming/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車預估到站資料(N1)[逐筆更新]",
        "description": "### 市區公車之預估到站資料(N1) ###\n- [部分縣市] 當 StopStatus = 1(尚未發車) 且 EstimateTime > 0 (有值) 的情形, 屬正常情形, 雖目前尚未發車, 但提供EstimateTime值為預計多久後開始發車之時間。\n- [逐筆更新]與[批次更新]之差異請詳見運輸資料使用指引([連結](https://motc-ptx.gitbook.io/tdx-zi-liao-shi-yong-kui-hua-bao-dian/data_notice/public_transportation_data/bus_dynamic_data))\n- N1僅於該路線上有任一車輛離站時，來源端才會重新計算並發佈，因此使用者需自行處理時間遞減機制，或以EstimateTime-(收到資料時間-SrcTrasTime)(秒)作為實際預估抵達時間。",
        "operationId": "CityBusApi_EstimatedTimeOfArrival_UDP_2048_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "PenghuCounty",
                "Keelung"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusN1EstimateTime"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusN1EstimateTime"
                  },
                  "xml": {
                    "name": "ArrayOfBusN1EstimateTime",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeByFrequency/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車動態定時資料(A1)[批次更新]",
        "description": "### 市區公車之定時資料(A1) ###\n- [逐筆更新]與[批次更新]之差異請詳見運輸資料使用指引([連結](https://motc-ptx.gitbook.io/tdx-zi-liao-shi-yong-kui-hua-bao-dian/data_notice/public_transportation_data/bus_dynamic_data))",
        "operationId": "CityBusApi_RealTimeByFrequency_2030",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA1Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeByFrequency/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車動態定時資料(A1)[批次更新]",
        "description": "### 市區公車之定時資料(A1) ###\n- [逐筆更新]與[批次更新]之差異請詳見運輸資料使用指引([連結](https://motc-ptx.gitbook.io/tdx-zi-liao-shi-yong-kui-hua-bao-dian/data_notice/public_transportation_data/bus_dynamic_data))",
        "operationId": "CityBusApi_RealTimeByFrequency_2030_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA1Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeNearStop/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車動態定點資料(A2)[批次更新]",
        "description": "### 市區公車之定點資料(A2) ###\n- [逐筆更新]與[批次更新]之差異請詳見運輸資料使用指引([連結](https://motc-ptx.gitbook.io/tdx-zi-liao-shi-yong-kui-hua-bao-dian/data_notice/public_transportation_data/bus_dynamic_data))",
        "operationId": "CityBusApi_RealTimeNearStop_2031",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA2Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeNearStop/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車動態定點資料(A2)[批次更新]",
        "description": "### 市區公車之定點資料(A2) ###\n- [逐筆更新]與[批次更新]之差異請詳見運輸資料使用指引([連結](https://motc-ptx.gitbook.io/tdx-zi-liao-shi-yong-kui-hua-bao-dian/data_notice/public_transportation_data/bus_dynamic_data))",
        "operationId": "CityBusApi_RealTimeNearStop_2031_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA2Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/EstimatedTimeOfArrival/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車預估到站資料(N1)[批次更新]",
        "description": " ### 市區公車之預估到站資料(N1) ###\n- [部分縣市] 當 StopStatus = 1(尚未發車) 且 EstimateTime > 0 (有值) 的情形, 屬正常情形, 雖目前尚未發車, 但提供EstimateTime值為預計多久後開始發車之時間。\n- [逐筆更新]與[批次更新]之差異請詳見運輸資料使用指引([連結](https://motc-ptx.gitbook.io/tdx-zi-liao-shi-yong-kui-hua-bao-dian/data_notice/public_transportation_data/bus_dynamic_data))",
        "operationId": "CityBusApi_EstimatedTimeOfArrival_2032",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusN1EstimateTime"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusN1EstimateTime"
                  },
                  "xml": {
                    "name": "ArrayOfBusN1EstimateTime",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/EstimatedTimeOfArrival/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車預估到站資料(N1)[批次更新]",
        "description": " ### 市區公車之預估到站資料(N1) ###\n- [部分縣市] 當 StopStatus = 1(尚未發車) 且 EstimateTime > 0 (有值) 的情形, 屬正常情形, 雖目前尚未發車, 但提供EstimateTime值為預計多久後開始發車之時間。\n- [逐筆更新]與[批次更新]之差異請詳見運輸資料使用指引([連結](https://motc-ptx.gitbook.io/tdx-zi-liao-shi-yong-kui-hua-bao-dian/data_notice/public_transportation_data/bus_dynamic_data))",
        "operationId": "CityBusApi_EstimatedTimeOfArrival_2032_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusN1EstimateTime"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusN1EstimateTime"
                  },
                  "xml": {
                    "name": "ArrayOfBusN1EstimateTime",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/DataVersion/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]目前資料的最新版本資訊",
        "description": "版本詳細資訊",
        "operationId": "CityBusApi_DataVersion_2033",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusVersion"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusVersion"
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Operator/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車營運業者資料",
        "description": "市區公車之營運業者資料",
        "operationId": "CityBusApi_Operator_2034",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V2.Base.Operator"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V2.Base.Operator"
                  },
                  "xml": {
                    "name": "ArrayOfOperator",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Route/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線資料",
        "description": "市區公車之路線資料",
        "operationId": "CityBusApi_Route_2035",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusRoute"
                  },
                  "xml": {
                    "name": "ArrayOfBusRoute",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Route/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的路線資料",
        "description": "市區公車之路線資料",
        "operationId": "CityBusApi_Route_2035_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusRoute"
                  },
                  "xml": {
                    "name": "ArrayOfBusRoute",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Stop/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車站牌資料",
        "description": "市區公車之站牌資料",
        "operationId": "CityBusApi_Stop_2036",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty",
                "Taipei"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStop"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStop"
                  },
                  "xml": {
                    "name": "ArrayOfBusStop",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Station/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車站位資料",
        "description": "市區公車之各站牌所屬的站位資料",
        "operationId": "CityBusApi_Station_2037",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Kaohsiung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "PenghuCounty",
                "Tainan",
                "KinmenCounty",
                "Taoyuan",
                "Taichung",
                "Keelung"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStation"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStation"
                  },
                  "xml": {
                    "name": "ArrayOfBusStation",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/DisplayStopOfRoute/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車顯示用路線站序資料",
        "description": "市區公車之顯示用路線站序資料",
        "operationId": "CityBusApi_DisplayStopOfRoute_2038",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "Tainan",
                "NewTaipei",
                "Taoyuan",
                "Taichung"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusDisplayStopOfRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusDisplayStopOfRoute"
                  },
                  "xml": {
                    "name": "ArrayOfBusDisplayStopOfRoute",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/DisplayStopOfRoute/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的市區公車顯示用路線站序資料",
        "description": "市區公車之顯示用路線站序資料",
        "operationId": "CityBusApi_DisplayStopOfRoute_2038_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "Tainan",
                "NewTaipei",
                "Taoyuan",
                "Taichung"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusDisplayStopOfRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusDisplayStopOfRoute"
                  },
                  "xml": {
                    "name": "ArrayOfBusDisplayStopOfRoute",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/StopOfRoute/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線站序資料",
        "description": "市區公車之路線站序資料",
        "operationId": "CityBusApi_StopOfRoute_2039",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStopOfRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Bus.Specification.V2.BusStopOfRoute"
                  },
                  "xml": {
                    "name": "ArrayOfBusStopOfRoute",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Bus/StopOfRoute/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的市區公車路線站序資料",
        "description": "市區公車之路線站序資料",
        "operationId": "CityBusApi_StopOfRoute_2039_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "title": "String",
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
[...]
