{
  "openapi": "3.0.4",
  "info": {
    "title": "共通資料-行政區",
    "description": "本平臺提供涵蓋全國尺度之交通旅運資料服務API，歡迎各產政學單位介接使用。\n<br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如：性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n<br>計費方式：\n<br>計次：1,500次/1點\n<br>計量：150MB/1點\n---\n##### API使用說明與注意事項：\n1. 如您尚未註冊平臺會員帳號，或未以帳號登入，您將僅能以「訪客模式」使用平臺服務，包含：限以瀏覽器存取，限使用`【基礎服務】`，且限制每個呼叫來源端IP每日存取至多20次。。\n2. 如您已註冊平臺會員帳號，請務必確保在存取服務(包含瀏覽器、程式呼叫API)時帶入您的API金鑰，方能以「會員模式」使用完整平臺服務，包含平臺各類資料服務，如`【基礎服務】`、`【進階服務】`、`【加值服務】`、`【歷史服務】`、`【圖資服務】`、`【第三方服務】`等。\n3. 建議您立即[註冊平臺會員帳號](/register)，依您用量需求訂閱服務方案，並於[【會員中心->資料服務->API金鑰】](/user/dataservice/key)取得API金鑰(即Client Id和Client Secret資訊)。\n4. 會員訂閱服務方案之級別不同，將決定其API金鑰之存取頻率有不同限制，各個方案的存取頻率限制說明請參考[訂閱收費](/pricing)。\n5. 以瀏覽器帶入API金鑰之操作方式：請點選Swagger UI上的Authorize按鈕，依指示填入Client Id和Client Secret資訊並進行驗證，驗證完成後可開始於Swagger UI使用API。\n6. 以程式呼叫API帶入API金鑰之操作方式：請參考[範例程式](https://github.com/tdxmotc/SampleCode)。\n7. 不論您是以瀏覽器或是以程式呼叫API，所有服務存取行為均將被記錄並定期檢視，以確保系統資源使用的合理分配與避免遭受濫用。\n\nAPI OAS文本 :[請點我](https://tdx.transportdata.tw/webapi/File/Swagger/V3/152a47cc-4852-4fb0-93d3-9bb9db3811bd)",
    "termsOfService": "https://tdx.transportdata.tw/term",
    "contact": {
      "name": "TDX客服信箱",
      "email": "tdx@motc.gov.tw"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://tdx.transportdata.tw/api/basic"
    }
  ],
  "paths": {
    "/v2/Basic/City": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "取得[縣市]之City列表",
        "description": "取得[縣市]之City列表",
        "operationId": "Basic_GetCity",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfCity"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfCity"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Basic/County": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "取得[縣市]之County列表",
        "description": "取得[縣市]之County列表",
        "operationId": "Basic_GetCounty",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfCounty"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfCounty"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Basic/City/{City}/Town": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "取得指定[縣市(City)]之鄉鎮市區列表",
        "description": "取得指定[縣市(City)]之鄉鎮市區列表\r\n\r\nTownCode以內政部戶政司制定代碼之前7碼作為鄉鎮市區之唯一代碼。第8碼原則為0，完整8碼請至內政部戶政司網站([連結](https://www.ris.gov.tw/app/portal/164))戶役政資料代碼內容查詢。",
        "operationId": "Basic_GetCityTown",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市(英文)</br>Taipei = 臺北市</br>Taichung = 臺中市</br>Keelung = 基隆市</br>Tainan = 臺南市</br>Kaohsiung = 高雄市</br>NewTaipei = 新北市</br>YilanCounty = 宜蘭縣</br>Taoyuan = 桃園市</br>Chiayi = 嘉義市</br>HsinchuCounty = 新竹縣</br>MiaoliCounty = 苗栗縣</br>NantouCounty = 南投縣</br>ChanghuaCounty = 彰化縣</br>Hsinchu = 新竹市</br>YunlinCounty = 雲林縣</br>ChiayiCounty = 嘉義縣</br>PingtungCounty = 屏東縣</br>HualienCounty = 花蓮縣</br>TaitungCounty = 臺東縣</br>KinmenCounty = 金門縣</br>PenghuCounty = 澎湖縣</br>LienchiangCounty = 連江縣",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "Taichung",
                "Keelung",
                "Tainan",
                "Kaohsiung",
                "NewTaipei",
                "YilanCounty",
                "Taoyuan",
                "Chiayi",
                "HsinchuCounty",
                "MiaoliCounty",
                "NantouCounty",
                "ChanghuaCounty",
                "Hsinchu",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfTown"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfTown"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Basic/County/{County}/Town": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "取得指定[縣市(County)]之鄉鎮市區列表",
        "description": "取得指定[縣市(County)]之鄉鎮市區列表\r\n\r\nTownCode以內政部戶政司制定代碼之前7碼作為鄉鎮市區之唯一代碼。第8碼原則為0，完整8碼請至內政部戶政司網站([連結](https://www.ris.gov.tw/app/portal/164))戶役政資料代碼內容查詢。",
        "operationId": "Basic_GetCountyTown",
        "parameters": [
          {
            "name": "County",
            "in": "path",
            "description": "縣市(英文)</br>Taipei = 臺北市</br>Taichung = 臺中市</br>Keelung = 基隆市</br>Tainan = 臺南市</br>Kaohsiung = 高雄市</br>NewTaipei = 新北市</br>YilanCounty = 宜蘭縣</br>Taoyuan = 桃園市</br>Chiayi = 嘉義市</br>HsinchuCounty = 新竹縣</br>MiaoliCounty = 苗栗縣</br>NantouCounty = 南投縣</br>ChanghuaCounty = 彰化縣</br>Hsinchu = 新竹市</br>YunlinCounty = 雲林縣</br>ChiayiCounty = 嘉義縣</br>PingtungCounty = 屏東縣</br>HualienCounty = 花蓮縣</br>TaitungCounty = 臺東縣</br>KinmenCounty = 金門縣</br>PenghuCounty = 澎湖縣</br>LienchiangCounty = 連江縣",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "Taichung",
                "Keelung",
                "Tainan",
                "Kaohsiung",
                "NewTaipei",
                "YilanCounty",
                "Taoyuan",
                "Chiayi",
                "HsinchuCounty",
                "MiaoliCounty",
                "NantouCounty",
                "ChanghuaCounty",
                "Hsinchu",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfCountyTown"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfCountyTown"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Basic/City/{City}/Village": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "取得指定[縣市(City)]之村里列表",
        "description": "取得指定[縣市(City)]之村里列表",
        "operationId": "Basic_GetCityVillage",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市(英文)</br>Taipei = 臺北市</br>Taichung = 臺中市</br>Keelung = 基隆市</br>Tainan = 臺南市</br>Kaohsiung = 高雄市</br>NewTaipei = 新北市</br>YilanCounty = 宜蘭縣</br>Taoyuan = 桃園市</br>Chiayi = 嘉義市</br>HsinchuCounty = 新竹縣</br>MiaoliCounty = 苗栗縣</br>NantouCounty = 南投縣</br>ChanghuaCounty = 彰化縣</br>Hsinchu = 新竹市</br>YunlinCounty = 雲林縣</br>ChiayiCounty = 嘉義縣</br>PingtungCounty = 屏東縣</br>HualienCounty = 花蓮縣</br>TaitungCounty = 臺東縣</br>KinmenCounty = 金門縣</br>PenghuCounty = 澎湖縣</br>LienchiangCounty = 連江縣",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "Taichung",
                "Keelung",
                "Tainan",
                "Kaohsiung",
                "NewTaipei",
                "YilanCounty",
                "Taoyuan",
                "Chiayi",
                "HsinchuCounty",
                "MiaoliCounty",
                "NantouCounty",
                "ChanghuaCounty",
                "Hsinchu",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfVillage"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfVillage"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Basic/County/{County}/Village": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "取得指定[縣市(County)]之村里列表",
        "description": "取得指定[縣市(County)]之村里列表",
        "operationId": "Basic_GetCountyVillage",
        "parameters": [
          {
            "name": "County",
            "in": "path",
            "description": "縣市(英文)</br>Taipei = 臺北市</br>Taichung = 臺中市</br>Keelung = 基隆市</br>Tainan = 臺南市</br>Kaohsiung = 高雄市</br>NewTaipei = 新北市</br>YilanCounty = 宜蘭縣</br>Taoyuan = 桃園市</br>Chiayi = 嘉義市</br>HsinchuCounty = 新竹縣</br>MiaoliCounty = 苗栗縣</br>NantouCounty = 南投縣</br>ChanghuaCounty = 彰化縣</br>Hsinchu = 新竹市</br>YunlinCounty = 雲林縣</br>ChiayiCounty = 嘉義縣</br>PingtungCounty = 屏東縣</br>HualienCounty = 花蓮縣</br>TaitungCounty = 臺東縣</br>KinmenCounty = 金門縣</br>PenghuCounty = 澎湖縣</br>LienchiangCounty = 連江縣",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "Taichung",
                "Keelung",
                "Tainan",
                "Kaohsiung",
                "NewTaipei",
                "YilanCounty",
                "Taoyuan",
                "Chiayi",
                "HsinchuCounty",
                "MiaoliCounty",
                "NantouCounty",
                "ChanghuaCounty",
                "Hsinchu",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfCountyVillage"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfCountyVillage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArrayOfCity": {
        "type": "object",
        "properties": {
          "City": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BasicCity"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BasicCity": {
        "type": "object",
        "properties": {
          "CityID": {
            "type": "string",
            "description": "縣市代碼",
            "nullable": true
          },
          "CityName": {
            "type": "string",
            "description": "縣市名稱(中文)",
            "nullable": true
          },
          "CityCode": {
            "type": "string",
            "description": "縣市簡碼(國際ISO 3166-2 三碼縣市代碼)",
            "nullable": true
          },
          "City": {
            "type": "string",
            "description": "縣市(英文)",
            "nullable": true
          },
          "CountyID": {
            "type": "string",
            "description": "縣市代碼(簡稱:縣市碼)",
            "nullable": true
          },
          "Version": {
            "type": "string",
            "description": "資料版本編號",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "City 基礎資料"
      },
      "ArrayOfCounty": {
        "type": "object",
        "properties": {
          "County": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BasicCounty"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BasicCounty": {
        "type": "object",
        "properties": {
          "CountyID": {
            "type": "string",
            "description": "縣市代碼(簡稱:縣市碼)",
            "nullable": true
          },
          "CountyName": {
            "type": "string",
            "description": "縣市名稱(中文)",
            "nullable": true
          },
          "CountyCode": {
            "type": "string",
            "description": "縣市代碼(五碼)",
            "nullable": true
          },
          "County": {
            "type": "string",
            "description": "縣市(英文)",
            "nullable": true
          },
          "CityID": {
            "type": "string",
            "description": "縣市代碼(簡稱:縣市碼)",
            "nullable": true
          },
          "Version": {
            "type": "string",
            "description": "資料版本編號",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "County 基礎資料"
      },
      "ArrayOfTown": {
        "type": "object",
        "properties": {
          "Town": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Town"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Town": {
        "type": "object",
        "properties": {
          "TownName": {
            "type": "string",
            "description": "鄉鎮市區名稱(中文)",
            "nullable": true
          },
          "TownCode": {
            "type": "string",
            "description": "鄉鎮市區代碼",
            "nullable": true
          },
          "CityName": {
            "type": "string",
            "description": "縣市名稱(中文)",
            "nullable": true
          },
          "Version": {
            "type": "string",
            "description": "資料版本編號",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Town 基礎資料"
      },
      "ArrayOfCountyTown": {
        "type": "object",
        "properties": {
          "Town": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountyTown"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CountyTown": {
        "type": "object",
        "properties": {
          "TownName": {
            "type": "string",
            "description": "鄉鎮市區名稱(中文)",
            "nullable": true
          },
          "TownCode": {
            "type": "string",
            "description": "鄉鎮市區代碼",
            "nullable": true
          },
          "CountyName": {
            "type": "string",
            "description": "縣市名稱(中文)",
            "nullable": true
          },
          "Version": {
            "type": "string",
            "description": "資料版本編號",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "CountyTown 基礎資料"
      },
      "ArrayOfVillage": {
        "type": "object",
        "properties": {
          "Village": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Village"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Village": {
        "type": "object",
        "properties": {
          "VillageName": {
            "type": "string",
            "description": "村里名稱(中文)",
            "nullable": true
          },
          "VillageID": {
            "type": "string",
            "description": "村里代碼",
            "nullable": true
          },
          "TownName": {
            "type": "string",
            "description": "鄉鎮市區名稱(中文)",
            "nullable": true
          },
          "TownCode": {
            "type": "string",
            "description": "鄉鎮市區代碼",
            "nullable": true
          },
          "CityName": {
            "type": "string",
            "description": "縣市名稱(中文)",
            "nullable": true
          },
          "Version": {
            "type": "string",
            "description": "資料版本編號",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Village 基礎資料"
      },
      "ArrayOfCountyVillage": {
        "type": "object",
        "properties": {
          "Village": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountyVillage"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CountyVillage": {
        "type": "object",
        "properties": {
          "VillageName": {
            "type": "string",
            "description": "村里名稱(中文)",
            "nullable": true
          },
          "VillageID": {
            "type": "string",
            "description": "村里代碼",
            "nullable": true
          },
          "TownName": {
            "type": "string",
            "description": "鄉鎮市區名稱(中文)",
            "nullable": true
          },
          "TownCode": {
            "type": "string",
            "description": "鄉鎮市區代碼",
            "nullable": true
          },
          "CountyName": {
            "type": "string",
            "description": "縣市名稱(中文)",
            "nullable": true
          },
          "Version": {
            "type": "string",
            "description": "資料版本編號",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "CountyVillage 基礎資料"
      }
    },
    "securitySchemes": {
      "TDX": {
        "type": "oauth2",
        "description": "TDX會員可至【會員專區-資料服務-服務金鑰】功能頁面，從預設金鑰(或建立新的金鑰)取得Client Id和Client Secret資訊，分別輸入至下方client_id和client_secret欄位、按下Authorize按鈕，即可開始於Swagger介面呼叫TDX API。",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://tdx.transportdata.tw/auth/realms/TDXConnect/protocol/openid-connect/token",
            "scopes": { }
          }
        }
      }
    }
  },
  "security": [
    {
      "TDX": [ ]
    }
  ],
  "tags": [
    {
      "name": "Basic",
      "description": "基礎資料"
    }
  ]
}