{
  "openapi": "3.0.1",
  "info": {
    "title": "有聲號誌",
    "description": "<span>本平臺提供涵蓋全國尺度的盲人有聲號誌靜態資料服務API，歡迎各產政學單位介接使用。\n<br>後續將持續擴充各縣市盲人有聲號誌靜態資料服務。\n<br>計費方式：\n<br>計次：1,500次/1點\n<br>計量：150MB/1點\n---\n##### API使用說明與注意事項：\n1. 如您尚未註冊平臺會員帳號，或未以帳號登入，您將僅能以「訪客模式」使用平臺服務，包含：限以瀏覽器存取，限使用`【基礎服務】`，且限制每個呼叫來源端IP每日存取至多20次。。\n2. 如您已註冊平臺會員帳號，請務必確保在存取服務(包含瀏覽器、程式呼叫API)時帶入您的API金鑰，方能以「會員模式」使用完整平臺服務，包含平臺各類資料服務，如`【基礎服務】`、`【進階服務】`、`【加值服務】`、`【歷史服務】`、`【圖資服務】`、`【第三方服務】`等。\n3. 建議您立即[註冊平臺會員帳號](/register)，依您用量需求訂閱服務方案，並於[【會員中心->資料服務->API金鑰】](/user/dataservice/key)取得API金鑰(即Client Id和Client Secret資訊)。\n4. 會員訂閱服務方案之級別不同，將決定其API金鑰之存取頻率有不同限制，各個方案的存取頻率限制說明請參考[訂閱收費](/pricing)。\n5. 以瀏覽器帶入API金鑰之操作方式：請點選Swagger UI上的Authorize按鈕，依指示填入Client Id和Client Secret資訊並進行驗證，驗證完成後可開始於Swagger UI使用API。\n6. 以程式呼叫API帶入API金鑰之操作方式：請參考[範例程式](https://github.com/tdxmotc/SampleCode)。\n7. 不論您是以瀏覽器或是以程式呼叫API，所有服務存取行為均將被記錄並定期檢視，以確保系統資源使用的合理分配與避免遭受濫用。\n\nAPI OAS文本 :[請點我](https://tdx.transportdata.tw/webapi/File/Swagger/V3/4eb2732e-9c6d-465d-9517-1f9150bd5e18)",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://tdx.transportdata.tw/api/basic"
    }
  ],
  "paths": {
    "/v1/Traffic/Road/APS/City/{City}": {
      "get": {
        "tags": [
          "CityAPS"
        ],
        "summary": "取得指定[縣市]的盲人有聲號誌資料",
        "operationId": "APS_API_Static",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "HsinchuCounty",
                "ChanghuaCounty",
                "NantouCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "Taichung": "臺中市",
              "Kaohsiung": "高雄市",
              "Tainan": "臺南市",
              "TaitungCounty": "臺東縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "Chiayi": "嘉義市",
              "ChiayiCounty": "嘉義縣",
              "HualienCounty": "花蓮縣",
              "Keelung": "基隆市",
              "HsinchuCounty": "新竹縣",
              "NantouCounty": "南投縣",
              "NewTaipei": "新北市",
              "PenghuCounty": "澎湖縣",
              "LienchiangCounty": "連江縣",
              "Hsinchu": "新竹市",
              "Taoyuan": "桃園市",
              "Taipei": "臺北市",
              "PingtungCounty": "屏東縣",
              "YilanCounty": "宜蘭縣",
              "KinmenCounty": "金門縣",
              "YunlinCounty": "雲林縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.DataMarket.Specification.ApsWrapper[PTX.Model.DataMarket.POCO.APS.Aps]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.DataMarket.Specification.ApsWrapper[PTX.Model.DataMarket.POCO.APS.Aps]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Traffic/Road/APS/Authority": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "取得業管機關資料",
        "operationId": "APS_API_Authority",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.Authority"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.Authority"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PTX.Service.DTO.DataMarket.Specification.ApsWrapper[PTX.Model.DataMarket.POCO.APS.Aps]": {
        "title": "APSList",
        "required": [
          "Apses",
          "AuthorityCode",
          "SrcUpdateInterval",
          "SrcUpdateTime",
          "UpdateInterval",
          "UpdateTime"
        ],
        "type": "object",
        "properties": {
          "UpdateTime": {
            "type": "string",
            "description": "<details>\r\n  <summary>本平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)</summary>\r\n                與來源Inbound XML不同，為中心端處理完後提供資料的更新時間\r\n              </details>",
            "format": "date-time"
          },
          "UpdateInterval": {
            "type": "integer",
            "description": "<details>\r\n  <summary>本平台資料更新週期(秒)</summary>\r\n                與來源Inbound XML不同，為中心端更新資料的週期\r\n              </details>",
            "format": "int32"
          },
          "SrcUpdateTime": {
            "type": "string",
            "description": "<details>\r\n  <summary>來源端平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)</summary>\r\n                為來源Inbound XML中的UpdateTime [該欄位由本平台自動產製]\r\n              </details>",
            "format": "date-time"
          },
          "SrcUpdateInterval": {
            "type": "integer",
            "description": "<details>\r\n  <summary>來源端平台資料更新週期(秒) : [-1:'不定期更新']</summary>\r\n                為來源Inbound XML中的UpdateInterval [該欄位由本平台自動產製]\r\n              </details>",
            "format": "int32"
          },
          "AuthorityCode": {
            "title": "String",
            "minLength": 1,
            "type": "string",
            "description": "業管機關簡碼",
            "xml": {
              "name": "AuthorityCode"
            }
          },
          "Apses": {
            "title": "Array",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PTX.Model.DataMarket.POCO.APS.Aps"
            },
            "description": "資料(陣列)",
            "xml": {
              "name": "List`1"
            }
          },
          "Count": {
            "type": "integer",
            "description": "<details>\r\n  <summary>資料總筆數</summary>\r\n                與來源Inbound XML不同，為提供資料的總筆數  [該欄位由本平台自動產製]\r\n              </details>",
            "format": "int64"
          }
        },
        "xml": {
          "name": "ApsWrapperOfAps",
          "namespace": "https://ptx.transportdata.tw/standard/schema/"
        }
      },
      "PTX.Model.DataMarket.POCO.APS.Aps": {
        "title": "Aps",
        "type": "object",
        "properties": {
          "ID": {
            "title": "String",
            "type": "string",
            "xml": {
              "name": "ID"
            }
          },
          "City": {
            "title": "String",
            "type": "string",
            "xml": {
              "name": "City"
            }
          },
          "Town": {
            "title": "String",
            "type": "string",
            "xml": {
              "name": "Town"
            }
          },
          "RoadName1": {
            "title": "String",
            "type": "string",
            "xml": {
              "name": "RoadName1"
            }
          },
          "RoadName2": {
            "title": "String",
            "type": "string",
            "xml": {
              "name": "RoadName2"
            }
          },
          "PositionLon": {
            "title": "Decimal",
            "type": "number",
            "format": "double"
          },
          "PositionLat": {
            "title": "Decimal",
            "type": "number",
            "format": "double"
          },
          "StartTypes": {
            "title": "Array",
            "type": "array",
            "items": {
              "title": "Int32",
              "type": "integer",
              "description": "[1:'設定時段啟動',2:'感應啟動',3:'按鈕啟動']"
            },
            "xml": {
              "name": "List`1"
            }
          },
          "GuidingSoundNS": {
            "title": "Int32",
            "type": "integer",
            "description": "[1:'布榖聲',2:'鳥叫聲',3:'其它',4:'無']"
          },
          "GuidingSoundEW": {
            "title": "Int32",
            "type": "integer",
            "description": "[1:'布榖聲',2:'鳥叫聲',3:'其它',4:'無']"
          },
          "GuidingSoundPOnly": {
            "title": "Int32",
            "type": "integer",
            "description": "[1:'蟋蟀聲',2:'其它',3:'無']"
          },
          "AppActivatedSignal": {
            "title": "Boolean",
            "type": "boolean"
          },
          "AndroidURL": {
            "title": "String",
            "type": "string",
            "xml": {
              "name": "AndroidURL"
            }
          },
          "iOSURL": {
            "title": "String",
            "type": "string",
            "xml": {
              "name": "iOSURL"
            }
          },
          "UpdateTime": {
            "title": "DateTime",
            "type": "string",
            "format": "date-time"
          },
          "CNodeID": {
            "title": "String",
            "type": "string",
            "xml": {
              "name": "CNodeID"
            }
          }
        },
        "xml": {
          "name": "Aps"
        }
      },
      "PTX.Service.DTO.Shared.Specification.V3.Base.Authority": {
        "title": "Authority",
        "required": [
          "AuthorityAddress",
          "AuthorityCode",
          "AuthorityEmail",
          "AuthorityName",
          "AuthorityOID",
          "AuthorityPhone",
          "UpdateTime"
        ],
        "type": "object",
        "properties": {
          "AuthorityCode": {
            "title": "String",
            "minLength": 1,
            "type": "string",
            "description": "業管機關簡碼",
            "xml": {
              "name": "AuthorityCode"
            }
          },
          "AuthorityName": {
            "title": "NameType",
            "allOf": [
              {
                "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.NameType"
              }
            ],
            "description": "業管機關名稱",
            "xml": {
              "name": "NameType"
            }
          },
          "AuthorityOID": {
            "title": "String",
            "minLength": 1,
            "type": "string",
            "description": "業管機關識別代碼(可參閱: https://oid.nat.gov.tw/OIDWeb/)",
            "xml": {
              "name": "AuthorityOID"
            }
          },
          "AuthorityPhone": {
            "title": "String",
            "minLength": 1,
            "type": "string",
            "description": "業管機關連絡電話",
            "xml": {
              "name": "AuthorityPhone"
            }
          },
          "AuthorityEmail": {
            "title": "String",
            "minLength": 1,
            "type": "string",
            "description": "業管機關電子信箱",
            "xml": {
              "name": "AuthorityEmail"
            }
          },
          "AuthorityAddress": {
            "title": "String",
            "minLength": 1,
            "type": "string",
            "description": "業管機關地址",
            "xml": {
              "name": "AuthorityAddress"
            }
          },
          "AuthorityUrl": {
            "title": "String",
            "type": "string",
            "description": "業管機關官網網址",
            "xml": {
              "name": "AuthorityUrl"
            }
          },
          "LogoURL": {
            "title": "String",
            "type": "string",
            "description": "業管機關Logo網址",
            "xml": {
              "name": "LogoURL"
            }
          },
          "UpdateTime": {
            "title": "DateTime",
            "type": "string",
            "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
            "format": "date-time"
          }
        },
        "description": "業管機關",
        "xml": {
          "name": "Authority"
        }
      },
      "PTX.Service.DTO.Shared.Specification.V3.Base.Authority0": {
        "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.Authority"
      },
      "PTX.Service.DTO.Shared.Specification.V3.Base.NameType": {
        "title": "NameType",
        "type": "object",
        "properties": {
          "Zh_tw": {
            "title": "String",
            "type": "string",
            "description": "中文繁體名稱",
            "xml": {
              "name": "Zh_tw"
            }
          },
          "En": {
            "title": "String",
            "type": "string",
            "description": "英文名稱",
            "xml": {
              "name": "En"
            }
          }
        },
        "xml": {
          "name": "NameType"
        }
      }
    },
    "securitySchemes": {
      "TDX": {
        "type": "oauth2",
        "description": "TDX會員可至【會員專區-資料服務-服務金鑰】功能頁面，從預設金鑰(或建立新的金鑰)取得Client Id和Client Secret資訊，分別輸入至下方client_id和client_secret欄位、按下Authorize按鈕，即可開始於Swagger介面呼叫TDX API。",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://tdx.transportdata.tw/auth/realms/TDXConnect/protocol/openid-connect/token",
            "scopes": { }
          }
        }
      }
    }
  },
  "security": [
    {
      "TDX": [ ]
    }
  ],
  "tags": [
    {
      "name": "CityAPS",
      "description": "縣市有聲號誌資訊"
    },
    {
      "name": "Common",
      "description": "共通資訊"
    }
  ]
}