{
  "openapi": "3.0.4",
  "info": {
    "title": "綠色運輸-充電樁",
    "description": "<span>本平臺提供涵蓋全國尺度之電動車充電樁動靜態資料服務API，歡迎各產政學單位介接使用。\n<br>後續將持續擴充各縣市、各港埠、各機場、各軌道場站、各觀光風景區、各高速公路休息站之充電樁動靜態資料。\n<br>計費方式：\n<br>計次：1,500次/1點\n<br>計量：150MB/1點\n\n---\n##### API使用說明與注意事項：\n1. 如您尚未註冊平臺會員帳號，或未以帳號登入，您將僅能以「訪客模式」使用平臺服務，包含：限以瀏覽器存取，限使用`【基礎服務】`，且限制每個呼叫來源端IP每日存取至多20次。。\n2. 如您已註冊平臺會員帳號，請務必確保在存取服務(包含瀏覽器、程式呼叫API)時帶入您的API金鑰，方能以「會員模式」使用完整平臺服務，包含平臺各類資料服務，如`【基礎服務】`、`【進階服務】`、`【加值服務】`、`【歷史服務】`、`【圖資服務】`、`【第三方服務】`等。\n3. 建議您立即[註冊平臺會員帳號](/register)，依您用量需求訂閱服務方案，並於[【會員中心->資料服務->API金鑰】](/user/dataservice/key)取得API金鑰(即Client Id和Client Secret資訊)。\n4. 會員訂閱服務方案之級別不同，將決定其API金鑰之存取頻率有不同限制，各個方案的存取頻率限制說明請參考[訂閱收費](/pricing)。\n5. 以瀏覽器帶入API金鑰之操作方式：請點選Swagger UI上的Authorize按鈕，依指示填入Client Id和Client Secret資訊並進行驗證，驗證完成後可開始於Swagger UI使用API。\n6. 以程式呼叫API帶入API金鑰之操作方式：請參考[範例程式](https://github.com/tdxmotc/SampleCode)。\n7. 不論您是以瀏覽器或是以程式呼叫API，所有服務存取行為均將被記錄並定期檢視，以確保系統資源使用的合理分配與避免遭受濫用。\n\nAPI OAS文本 :[請點我](https://tdx.transportdata.tw/webapi/File/Swagger/V3/b378d320-04a9-4fba-80b8-0df1b96dd5e8)",
    "termsOfService": "https://tdx.transportdata.tw/term",
    "contact": {
      "name": "TDX客服信箱",
      "email": "tdx@motc.gov.tw"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://tdx.transportdata.tw/api/basic"
    }
  ],
  "paths": {
    "/v1/EV/ChargingPoint/Tourism": {
      "get": {
        "tags": [
          "TourismEVCharging"
        ],
        "summary": "取得觀光景點充電站之充電樁基本資料",
        "operationId": "ParkingEV_API_Tourism_ChargingPoint",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingPoint,PTX.Model.EV.POCO.ChargingPointList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingPoint,PTX.Model.EV.POCO.ChargingPointList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ChargingRate/Tourism": {
      "get": {
        "tags": [
          "TourismEVCharging"
        ],
        "summary": "取得觀光景點充電站之充電槍充電費率資料",
        "operationId": "ParkingEV_API_Tourism_ChargingRate",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingRate,PTX.Model.EV.POCO.ChargingRateList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingRate,PTX.Model.EV.POCO.ChargingRateList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/Connector/Tourism": {
      "get": {
        "tags": [
          "TourismEVCharging"
        ],
        "summary": "取得觀光景點充電站之充電槍基本資料",
        "operationId": "ParkingEV_API_Tourism_Connector",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Connector,PTX.Model.EV.POCO.ConnectorList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Connector,PTX.Model.EV.POCO.ConnectorList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/Operator/Tourism": {
      "get": {
        "tags": [
          "TourismEVCharging"
        ],
        "summary": "取得觀光景點充電站之營運業者資料",
        "operationId": "ParkingEV_API_Tourism_Operator",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Operator,PTX.Model.EV.POCO.OperatorList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Operator,PTX.Model.EV.POCO.OperatorList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ParkingRate/Tourism": {
      "get": {
        "tags": [
          "TourismEVCharging"
        ],
        "summary": "取得觀光景點充電站之停車費率資料",
        "operationId": "ParkingEV_API_Tourism_ParkingRate",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ParkingRate,PTX.Model.EV.POCO.ParkingRateList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ParkingRate,PTX.Model.EV.POCO.ParkingRateList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ServiceTime/Tourism": {
      "get": {
        "tags": [
          "TourismEVCharging"
        ],
        "summary": "取得觀光景點充電站之營運時間資料",
        "operationId": "ParkingEV_API_Tourism_ServiceTime",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ServiceTime,PTX.Model.EV.POCO.ServiceTimeList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ServiceTime,PTX.Model.EV.POCO.ServiceTimeList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/Station/Tourism": {
      "get": {
        "tags": [
          "TourismEVCharging"
        ],
        "summary": "取得觀光景點充電站之基本資料",
        "operationId": "ParkingEV_API_Tourism_Station",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Station,PTX.Model.EV.POCO.StationList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Station,PTX.Model.EV.POCO.StationList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ChargingPoint/Ship/Port/{Authority}": {
      "get": {
        "tags": [
          "ShipPortEVCharging"
        ],
        "summary": "取得航運港口充電站之充電樁基本資料",
        "operationId": "ParkingEV_API_ShipPort_ChargingPoint",
        "parameters": [
          {
            "name": "Authority",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "TIPC"
              ],
              "type": "string"
            },
            "x-enum": {
              "TIPC": "港務公司",
              "MPB": "航港局"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingPoint,PTX.Model.EV.POCO.ChargingPointList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingPoint,PTX.Model.EV.POCO.ChargingPointList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ChargingRate/Ship/Port/{Authority}": {
      "get": {
        "tags": [
          "ShipPortEVCharging"
        ],
        "summary": "取得航運港口充電站之充電槍充電費率資料",
        "operationId": "ParkingEV_API_ShipPort_ChargingRate",
        "parameters": [
          {
            "name": "Authority",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "TIPC"
              ],
              "type": "string"
            },
            "x-enum": {
              "MPB": "航港局",
              "TIPC": "港務公司"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingRate,PTX.Model.EV.POCO.ChargingRateList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingRate,PTX.Model.EV.POCO.ChargingRateList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/Connector/Ship/Port/{Authority}": {
      "get": {
        "tags": [
          "ShipPortEVCharging"
        ],
        "summary": "取得航運港口充電站之充電槍基本資料",
        "operationId": "ParkingEV_API_ShipPort_Connector",
        "parameters": [
          {
            "name": "Authority",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "TIPC"
              ],
              "type": "string"
            },
            "x-enum": {
              "TIPC": "港務公司",
              "MPB": "航港局"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Connector,PTX.Model.EV.POCO.ConnectorList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Connector,PTX.Model.EV.POCO.ConnectorList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/Operator/Ship/Port/{Authority}": {
      "get": {
        "tags": [
          "ShipPortEVCharging"
        ],
        "summary": "取得航運港口充電站之營運業者資料",
        "operationId": "ParkingEV_API_ShipPort_Operator",
        "parameters": [
          {
            "name": "Authority",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "TIPC"
              ],
              "type": "string"
            },
            "x-enum": {
              "TIPC": "港務公司",
              "MPB": "航港局"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Operator,PTX.Model.EV.POCO.OperatorList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Operator,PTX.Model.EV.POCO.OperatorList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ParkingRate/Ship/Port/{Authority}": {
      "get": {
        "tags": [
          "ShipPortEVCharging"
        ],
        "summary": "取得航運港口充電站之停車費率資料",
        "operationId": "ParkingEV_API_ShipPort_ParkingRate",
        "parameters": [
          {
            "name": "Authority",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "TIPC"
              ],
              "type": "string"
            },
            "x-enum": {
              "MPB": "航港局",
              "TIPC": "港務公司"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ParkingRate,PTX.Model.EV.POCO.ParkingRateList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ParkingRate,PTX.Model.EV.POCO.ParkingRateList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ServiceTime/Ship/Port/{Authority}": {
      "get": {
        "tags": [
          "ShipPortEVCharging"
        ],
        "summary": "取得航運港口充電站之營運時間資料",
        "operationId": "ParkingEV_API_ShipPort_ServiceTime",
        "parameters": [
          {
            "name": "Authority",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "TIPC"
              ],
              "type": "string"
            },
            "x-enum": {
              "MPB": "航港局",
              "TIPC": "港務公司"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ServiceTime,PTX.Model.EV.POCO.ServiceTimeList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ServiceTime,PTX.Model.EV.POCO.ServiceTimeList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/Station/Ship/Port/{Authority}": {
      "get": {
        "tags": [
          "ShipPortEVCharging"
        ],
        "summary": "取得航運港口充電站之基本資料",
        "operationId": "ParkingEV_API_ShipPort_Station",
        "parameters": [
          {
            "name": "Authority",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "TIPC"
              ],
              "type": "string"
            },
            "x-enum": {
              "MPB": "航港局",
              "TIPC": "港務公司"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Station,PTX.Model.EV.POCO.StationList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Station,PTX.Model.EV.POCO.StationList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ChargingPoint/Rail/Station/{RailOperator}": {
      "get": {
        "tags": [
          "RailStationEVCharging"
        ],
        "summary": "取得軌道車站充電站之充電樁基本資料",
        "operationId": "ParkingEV_API_RailStation_ChargingPoint",
        "parameters": [
          {
            "name": "RailOperator",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "TRA",
                "TRTC",
                "TMRT"
              ],
              "type": "string"
            },
            "x-enum": {
              "TYMC": "桃園捷運",
              "TMRT": "臺中捷運",
              "TRA": "台鐵",
              "THSR": "高鐵",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "NTMC": "新北捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingPoint,PTX.Model.EV.POCO.ChargingPointList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingPoint,PTX.Model.EV.POCO.ChargingPointList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ChargingRate/Rail/Station/{RailOperator}": {
      "get": {
        "tags": [
          "RailStationEVCharging"
        ],
        "summary": "取得軌道車站充電站之充電槍充電費率資料",
        "operationId": "ParkingEV_API_RailStation_ChargingRate",
        "parameters": [
          {
            "name": "RailOperator",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "TRA",
                "TRTC",
                "TMRT"
              ],
              "type": "string"
            },
            "x-enum": {
              "THSR": "高鐵",
              "TRA": "台鐵",
              "TMRT": "臺中捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運",
              "TRTC": "臺北捷運",
              "NTMC": "新北捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingRate,PTX.Model.EV.POCO.ChargingRateList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingRate,PTX.Model.EV.POCO.ChargingRateList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/Connector/Rail/Station/{RailOperator}": {
      "get": {
        "tags": [
          "RailStationEVCharging"
        ],
        "summary": "取得軌道車站充電站之充電槍基本資料",
        "operationId": "ParkingEV_API_RailStation_Connector",
        "parameters": [
          {
            "name": "RailOperator",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "TRA",
                "TRTC",
                "TMRT"
              ],
              "type": "string"
            },
            "x-enum": {
              "TYMC": "桃園捷運",
              "TRTC": "臺北捷運",
              "TMRT": "臺中捷運",
              "NTMC": "新北捷運",
              "KRTC": "高雄捷運",
              "TRA": "台鐵",
              "THSR": "高鐵"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Connector,PTX.Model.EV.POCO.ConnectorList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Connector,PTX.Model.EV.POCO.ConnectorList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/Operator/Rail/Station/{RailOperator}": {
      "get": {
        "tags": [
          "RailStationEVCharging"
        ],
        "summary": "取得軌道車站充電站之營運業者資料",
        "operationId": "ParkingEV_API_RailStation_Operator",
        "parameters": [
          {
            "name": "RailOperator",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "TRA",
                "TRTC",
                "TMRT"
              ],
              "type": "string"
            },
            "x-enum": {
              "TMRT": "臺中捷運",
              "NTMC": "新北捷運",
              "TRTC": "臺北捷運",
              "TRA": "台鐵",
              "THSR": "高鐵",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Operator,PTX.Model.EV.POCO.OperatorList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Operator,PTX.Model.EV.POCO.OperatorList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ParkingRate/Rail/Station/{RailOperator}": {
      "get": {
        "tags": [
          "RailStationEVCharging"
        ],
        "summary": "取得軌道車站充電站之停車費率資料",
        "operationId": "ParkingEV_API_RailStation_ParkingRate",
        "parameters": [
          {
            "name": "RailOperator",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "TRA",
                "TRTC",
                "TMRT"
              ],
              "type": "string"
            },
            "x-enum": {
              "KRTC": "高雄捷運",
              "TRA": "台鐵",
              "TRTC": "臺北捷運",
              "NTMC": "新北捷運",
              "TMRT": "臺中捷運",
              "THSR": "高鐵",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ParkingRate,PTX.Model.EV.POCO.ParkingRateList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ParkingRate,PTX.Model.EV.POCO.ParkingRateList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ServiceTime/Rail/Station/{RailOperator}": {
      "get": {
        "tags": [
          "RailStationEVCharging"
        ],
        "summary": "取得軌道車站充電站之營運時間資料",
        "operationId": "ParkingEV_API_RailStation_ServiceTime",
        "parameters": [
          {
            "name": "RailOperator",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "TRA",
                "TRTC",
                "TMRT"
              ],
              "type": "string"
            },
            "x-enum": {
              "KRTC": "高雄捷運",
              "THSR": "高鐵",
              "TRA": "台鐵",
              "TRTC": "臺北捷運",
              "TYMC": "桃園捷運",
              "NTMC": "新北捷運",
              "TMRT": "臺中捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ServiceTime,PTX.Model.EV.POCO.ServiceTimeList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ServiceTime,PTX.Model.EV.POCO.ServiceTimeList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/Station/Rail/Station/{RailOperator}": {
      "get": {
        "tags": [
          "RailStationEVCharging"
        ],
        "summary": "取得軌道車站充電站之基本資料",
        "operationId": "ParkingEV_API_RailStation_Station",
        "parameters": [
          {
            "name": "RailOperator",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "TRA",
                "TRTC",
                "TMRT"
              ],
              "type": "string"
            },
            "x-enum": {
              "TRTC": "臺北捷運",
              "TRA": "台鐵",
              "TMRT": "臺中捷運",
              "THSR": "高鐵",
              "NTMC": "新北捷運",
              "TYMC": "桃園捷運",
              "KRTC": "高雄捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Station,PTX.Model.EV.POCO.StationList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Station,PTX.Model.EV.POCO.StationList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ChargingPoint/Freeway/ServiceArea": {
      "get": {
        "tags": [
          "FreewayEVCharging"
        ],
        "summary": "取得高速公路所有服務區充電站之充電樁基本資料",
        "operationId": "ParkingEV_API_NFB_ChargingPoint",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingPoint,PTX.Model.EV.POCO.ChargingPointList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingPoint,PTX.Model.EV.POCO.ChargingPointList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ChargingRate/Freeway/ServiceArea": {
      "get": {
        "tags": [
          "FreewayEVCharging"
        ],
        "summary": "取得高速公路所有服務區充電站之充電槍充電費率資料",
        "operationId": "ParkingEV_API_NFB_ChargingRate",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingRate,PTX.Model.EV.POCO.ChargingRateList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingRate,PTX.Model.EV.POCO.ChargingRateList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/Connector/Freeway/ServiceArea": {
      "get": {
        "tags": [
          "FreewayEVCharging"
        ],
        "summary": "取得高速公路所有服務區充電站之充電槍基本資料",
        "operationId": "ParkingEV_API_NFB_Connector",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Connector,PTX.Model.EV.POCO.ConnectorList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Connector,PTX.Model.EV.POCO.ConnectorList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/Operator/Freeway/ServiceArea": {
      "get": {
        "tags": [
          "FreewayEVCharging"
        ],
        "summary": "取得高速公路所有服務區充電站之營運業者資料",
        "operationId": "ParkingEV_API_NFB_Operator",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Operator,PTX.Model.EV.POCO.OperatorList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Operator,PTX.Model.EV.POCO.OperatorList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ParkingRate/Freeway/ServiceArea": {
      "get": {
        "tags": [
          "FreewayEVCharging"
        ],
        "summary": "取得高速公路所有服務區充電站之停車費率資料",
        "operationId": "ParkingEV_API_NFB_ParkingRate",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ParkingRate,PTX.Model.EV.POCO.ParkingRateList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ParkingRate,PTX.Model.EV.POCO.ParkingRateList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ServiceTime/Freeway/ServiceArea": {
      "get": {
        "tags": [
          "FreewayEVCharging"
        ],
        "summary": "取得高速公路所有服務區充電站之營運時間資料",
        "operationId": "ParkingEV_API_NFB_ServiceTime",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ServiceTime,PTX.Model.EV.POCO.ServiceTimeList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ServiceTime,PTX.Model.EV.POCO.ServiceTimeList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/Station/Freeway/ServiceArea": {
      "get": {
        "tags": [
          "FreewayEVCharging"
        ],
        "summary": "取得高速公路所有服務區充電站之基本資料",
        "operationId": "ParkingEV_API_NFB_Station",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Station,PTX.Model.EV.POCO.StationList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Station,PTX.Model.EV.POCO.StationList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ChargingPoint/City/{City}": {
      "get": {
        "tags": [
          "CityEVCharging"
        ],
        "summary": "取得指定[縣市]充電站之充電樁基本資料",
        "operationId": "ParkingEV_API_ChargingPoint",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "KinmenCounty": "金門縣",
              "HualienCounty": "花蓮縣",
              "YunlinCounty": "雲林縣",
              "Kaohsiung": "高雄市",
              "Hsinchu": "新竹市",
              "Tainan": "臺南市",
              "Chiayi": "嘉義市",
              "YilanCounty": "宜蘭縣",
              "PingtungCounty": "屏東縣",
              "NewTaipei": "新北市",
              "Taichung": "臺中市",
              "ChanghuaCounty": "彰化縣",
              "NantouCounty": "南投縣",
              "Taipei": "臺北市",
              "LienchiangCounty": "連江縣",
              "PenghuCounty": "澎湖縣",
              "Taoyuan": "桃園市",
              "ChiayiCounty": "嘉義縣",
              "HsinchuCounty": "新竹縣",
              "TaitungCounty": "臺東縣",
              "Keelung": "基隆市",
              "MiaoliCounty": "苗栗縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingPoint,PTX.Model.EV.POCO.ChargingPointList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingPoint,PTX.Model.EV.POCO.ChargingPointList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ChargingRate/City/{City}": {
      "get": {
        "tags": [
          "CityEVCharging"
        ],
        "summary": "取得指定[縣市]充電站之充電槍充電費率資料",
        "operationId": "ParkingEV_API_ChargingRate",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "HsinchuCounty": "新竹縣",
              "Chiayi": "嘉義市",
              "Taichung": "臺中市",
              "Kaohsiung": "高雄市",
              "KinmenCounty": "金門縣",
              "Keelung": "基隆市",
              "HualienCounty": "花蓮縣",
              "LienchiangCounty": "連江縣",
              "Taoyuan": "桃園市",
              "YilanCounty": "宜蘭縣",
              "Taipei": "臺北市",
              "Hsinchu": "新竹市",
              "MiaoliCounty": "苗栗縣",
              "TaitungCounty": "臺東縣",
              "PingtungCounty": "屏東縣",
              "PenghuCounty": "澎湖縣",
              "Tainan": "臺南市",
              "ChiayiCounty": "嘉義縣",
              "NewTaipei": "新北市",
              "NantouCounty": "南投縣",
              "ChanghuaCounty": "彰化縣",
              "YunlinCounty": "雲林縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingRate,PTX.Model.EV.POCO.ChargingRateList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ChargingRate,PTX.Model.EV.POCO.ChargingRateList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/Connector/City/{City}": {
      "get": {
        "tags": [
          "CityEVCharging"
        ],
        "summary": "取得指定[縣市]充電站之充電槍基本資料",
        "operationId": "ParkingEV_API_Connector",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "ChanghuaCounty": "彰化縣",
              "Tainan": "臺南市",
              "ChiayiCounty": "嘉義縣",
              "TaitungCounty": "臺東縣",
              "NewTaipei": "新北市",
              "Taichung": "臺中市",
              "YilanCounty": "宜蘭縣",
              "LienchiangCounty": "連江縣",
              "Taipei": "臺北市",
              "PingtungCounty": "屏東縣",
              "HualienCounty": "花蓮縣",
              "Hsinchu": "新竹市",
              "Taoyuan": "桃園市",
              "PenghuCounty": "澎湖縣",
              "KinmenCounty": "金門縣",
              "YunlinCounty": "雲林縣",
              "Keelung": "基隆市",
              "Chiayi": "嘉義市",
              "MiaoliCounty": "苗栗縣",
              "Kaohsiung": "高雄市",
              "NantouCounty": "南投縣",
              "HsinchuCounty": "新竹縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Connector,PTX.Model.EV.POCO.ConnectorList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Connector,PTX.Model.EV.POCO.ConnectorList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/Operator/City/{City}": {
      "get": {
        "tags": [
          "CityEVCharging"
        ],
        "summary": "取得指定[縣市]充電站之營運業者資料",
        "operationId": "ParkingEV_API_Operator",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "PenghuCounty": "澎湖縣",
              "HsinchuCounty": "新竹縣",
              "KinmenCounty": "金門縣",
              "Kaohsiung": "高雄市",
              "Chiayi": "嘉義市",
              "Taoyuan": "桃園市",
              "YilanCounty": "宜蘭縣",
              "PingtungCounty": "屏東縣",
              "Keelung": "基隆市",
              "LienchiangCounty": "連江縣",
              "TaitungCounty": "臺東縣",
              "Taichung": "臺中市",
              "Taipei": "臺北市",
              "HualienCounty": "花蓮縣",
              "ChanghuaCounty": "彰化縣",
              "YunlinCounty": "雲林縣",
              "MiaoliCounty": "苗栗縣",
              "Hsinchu": "新竹市",
              "Tainan": "臺南市",
              "NewTaipei": "新北市",
              "NantouCounty": "南投縣",
              "ChiayiCounty": "嘉義縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Operator,PTX.Model.EV.POCO.OperatorList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.Operator,PTX.Model.EV.POCO.OperatorList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ParkingRate/City/{City}": {
      "get": {
        "tags": [
          "CityEVCharging"
        ],
        "summary": "取得指定[縣市]充電站之停車費率資料",
        "operationId": "ParkingEV_API_ParkingRate",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "NewTaipei": "新北市",
              "HualienCounty": "花蓮縣",
              "Tainan": "臺南市",
              "TaitungCounty": "臺東縣",
              "Chiayi": "嘉義市",
              "PingtungCounty": "屏東縣",
              "PenghuCounty": "澎湖縣",
              "NantouCounty": "南投縣",
              "KinmenCounty": "金門縣",
              "Taoyuan": "桃園市",
              "ChiayiCounty": "嘉義縣",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "YilanCounty": "宜蘭縣",
              "Keelung": "基隆市",
              "Hsinchu": "新竹市",
              "Kaohsiung": "高雄市",
              "Taichung": "臺中市",
              "ChanghuaCounty": "彰化縣",
              "Taipei": "臺北市",
              "YunlinCounty": "雲林縣",
              "LienchiangCounty": "連江縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ParkingRate,PTX.Model.EV.POCO.ParkingRateList]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.EV.Specification.EVWrapper[PTX.Model.EV.POCO.ParkingRate,PTX.Model.EV.POCO.ParkingRateList]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EV/ServiceTime/City/{City}": {
      "get": {
        "tags": [
          "CityEVCharging"
        ],
        "summary": "取得指定[縣市]充電站之營運時間資料",
        "operationId": "ParkingEV_API_ServiceTime",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "PingtungCounty": "屏東縣",
              "PenghuCounty": "澎湖縣",
              "ChiayiCounty": "嘉義縣",
              "Taichung": "臺中市",
              "YunlinCounty": "雲林縣",
              "Hsinchu": "新竹市",
              "ChanghuaCounty": "彰化縣",
              "Tainan": "臺南市",
              "NantouCounty": "南投縣",
              "TaitungCounty": "臺東縣",
              "Taoyuan": "桃園市",
              "Keelung": "基隆市",
              "KinmenCounty": "金門縣",
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "MiaoliCounty": "苗栗縣",
              "Chiayi": "嘉義市",
              "HualienCounty": "花蓮縣",
              "HsinchuCounty": "新竹縣",
              "YilanCounty": "宜蘭縣",
              "LienchiangCounty": "連江縣",
              "Kaohsiung": "高雄市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
[...]
