{
  "openapi": "3.0.4",
  "info": {
    "title": "觀光資訊",
    "description": "本平臺提供涵蓋全國尺度之交通旅運資料服務API，歡迎各產政學單位介接使用。\n<br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如：性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n<br>計費方式：\n<br>計次：1,500次/1點\n<br>計量：150MB/1點\n---\n##### API使用說明與注意事項：\n1. 如您尚未註冊平臺會員帳號，或未以帳號登入，您將僅能以「訪客模式」使用平臺服務，包含：限以瀏覽器存取，限使用`【基礎服務】`，且限制每個呼叫來源端IP每日存取至多20次。。\n2. 如您已註冊平臺會員帳號，請務必確保在存取服務(包含瀏覽器、程式呼叫API)時帶入您的API金鑰，方能以「會員模式」使用完整平臺服務，包含平臺各類資料服務，如`【基礎服務】`、`【進階服務】`、`【加值服務】`、`【歷史服務】`、`【圖資服務】`、`【第三方服務】`等。\n3. 建議您立即[註冊平臺會員帳號](/register)，依您用量需求訂閱服務方案，並於[【會員中心->資料服務->API金鑰】](/user/dataservice/key)取得API金鑰(即Client Id和Client Secret資訊)。\n4. 會員訂閱服務方案之級別不同，將決定其API金鑰之存取頻率有不同限制，各個方案的存取頻率限制說明請參考[訂閱收費](/pricing)。\n5. 以瀏覽器帶入API金鑰之操作方式：請點選Swagger UI上的Authorize按鈕，依指示填入Client Id和Client Secret資訊並進行驗證，驗證完成後可開始於Swagger UI使用API。\n6. 以程式呼叫API帶入API金鑰之操作方式：請參考[範例程式](https://github.com/tdxmotc/SampleCode)。\n7. 不論您是以瀏覽器或是以程式呼叫API，所有服務存取行為均將被記錄並定期檢視，以確保系統資源使用的合理分配與避免遭受濫用。\n\nAPI OAS文本 :[請點我](https://tdx.transportdata.tw/webapi/File/Swagger/V3/cd0226cf-6292-4c35-8a0d-b595f0b15352)",
    "termsOfService": "https://tdx.transportdata.tw/term",
    "contact": {
      "name": "TDX客服信箱",
      "email": "tdx@motc.gov.tw"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://tdx.transportdata.tw/api/basic"
    }
  ],
  "paths": {
    "/v2/Tourism/Bus/RealTimeByFrequency/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車的動態定時資料(A1)",
        "description": "取得台灣好行公車的動態定時資料(A1)",
        "operationId": "TaiwanTripBusApi_RealTimeByFrequency_2260",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusA1Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusA1Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA1Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/RealTimeByFrequency/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行公車的動態定時資料(A1)",
        "description": "取得指定[路線名稱]的台灣好行公車的動態定時資料(A1)",
        "operationId": "TaiwanTripBusApi_RealTimeByFrequency_2260_1",
        "parameters": [
          {
            "name": "TaiwanTripName",
            "in": "path",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusA1Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusA1Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA1Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/RealTimeNearStop/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車的動態定點資料(A2)",
        "description": "取得台灣好行公車的動態定點資料(A2)",
        "operationId": "TaiwanTripBusApi_RealTimeNearStop_2261",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusA2Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusA2Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA2Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/RealTimeNearStop/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行公車的動態定點資料(A2)",
        "description": "取得指定[路線名稱]的台灣好行公車的動態定點資料(A2)",
        "operationId": "TaiwanTripBusApi_RealTimeNearStop_2261_1",
        "parameters": [
          {
            "name": "TaiwanTripName",
            "in": "path",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusA2Data"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusA2Data"
                  },
                  "xml": {
                    "name": "ArrayOfBusA2Data",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/EstimatedTimeOfArrival/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車的預估到站資料(N1)",
        "description": "取得台灣好行公車的預估到站資料(N1)",
        "operationId": "TaiwanTripBusApi_EstimatedTimeOfArrival_2262",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusN1EstimateTime"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusN1EstimateTime"
                  },
                  "xml": {
                    "name": "ArrayOfBusN1EstimateTime",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/EstimatedTimeOfArrival/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行公車的預估到站資料(N1)",
        "description": "取得指定[路線名稱]的台灣好行公車的預估到站資料(N1)",
        "operationId": "TaiwanTripBusApi_EstimatedTimeOfArrival_2262_1",
        "parameters": [
          {
            "name": "TaiwanTripName",
            "in": "path",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusN1EstimateTime"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusN1EstimateTime"
                  },
                  "xml": {
                    "name": "ArrayOfBusN1EstimateTime",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/Route/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車路線資料",
        "description": "取得台灣好行公車路線資料",
        "operationId": "TaiwanTripBusApi_Route_2263",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusRoute"
                  },
                  "xml": {
                    "name": "ArrayOfBusRoute",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/Route/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行公車路線資料",
        "description": "取得指定[路線名稱]的台灣好行公車路線資料",
        "operationId": "TaiwanTripBusApi_Route_2263_1",
        "parameters": [
          {
            "name": "TaiwanTripName",
            "in": "path",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusRoute"
                  },
                  "xml": {
                    "name": "ArrayOfBusRoute",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/StopOfRoute/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車路線與站牌資料",
        "description": "取得台灣好行公車路線與站牌資料",
        "operationId": "TaiwanTripBusApi_StopOfRoute_2264",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusStopOfRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusStopOfRoute"
                  },
                  "xml": {
                    "name": "ArrayOfBusStopOfRoute",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/StopOfRoute/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行公車路線與站牌資料",
        "description": "取得指定[路線名稱]的台灣好行公車路線與站牌資料",
        "operationId": "TaiwanTripBusApi_StopOfRoute_2264_1",
        "parameters": [
          {
            "name": "TaiwanTripName",
            "in": "path",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusStopOfRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusStopOfRoute"
                  },
                  "xml": {
                    "name": "ArrayOfBusStopOfRoute",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/Schedule/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車路線班表資料",
        "description": "取得台灣好行公車路線班表資料",
        "operationId": "TaiwanTripBusApi_Schedule_2265",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusSchedule"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusSchedule"
                  },
                  "xml": {
                    "name": "ArrayOfBusSchedule",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/Schedule/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行公車路線班表資料",
        "description": "取得指定[路線名稱]的台灣好行公車路線班表資料",
        "operationId": "TaiwanTripBusApi_Schedule_2265_1",
        "parameters": [
          {
            "name": "TaiwanTripName",
            "in": "path",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusSchedule"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusSchedule"
                  },
                  "xml": {
                    "name": "ArrayOfBusSchedule",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/Shape/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車線型資料",
        "description": "取得台灣好行公車線型資料",
        "operationId": "TaiwanTripBusApi_Shape_2266",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusShape"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusShape"
                  },
                  "xml": {
                    "name": "ArrayOfBusShape",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/Shape/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行公車線型資料",
        "description": "取得指定[路線名稱]的台灣好行公車線型資料",
        "operationId": "TaiwanTripBusApi_Shape_2266_1",
        "parameters": [
          {
            "name": "TaiwanTripName",
            "in": "path",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusShape"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusShape"
                  },
                  "xml": {
                    "name": "ArrayOfBusShape",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/S2TravelTime/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車路線站間旅行時間基本資料",
        "description": "取得台灣好行公車路線站間旅行時間基本資料",
        "operationId": "TaiwanTripBusApi_S2TravelTime_2267",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusTaiwanTripS2STravelTime"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusTaiwanTripS2STravelTime"
                  },
                  "xml": {
                    "name": "ArrayOfBusTaiwanTripS2STravelTime",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/News/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車之最新消息",
        "description": "取得台灣好行公車之最新消息",
        "operationId": "TaiwanTripBusApi_News_2268",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusTaiwanTripNews"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusTaiwanTripNews"
                  },
                  "xml": {
                    "name": "ArrayOfBusTaiwanTripNews",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/RouteFare/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車路線票價資料",
        "description": "取得台灣好行公車路線票價資料",
        "operationId": "TaiwanTripBusApi_RouteFare_2269",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusRouteFare"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusRouteFare"
                  },
                  "xml": {
                    "name": "ArrayOfBusRouteFare",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/RouteFare/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行公車路線票價資料",
        "description": "取得指定[路線名稱]的台灣好行公車路線票價資料",
        "operationId": "TaiwanTripBusApi_RouteFare_2269_1",
        "parameters": [
          {
            "name": "TaiwanTripName",
            "in": "path",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusRouteFare"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusRouteFare"
                  },
                  "xml": {
                    "name": "ArrayOfBusRouteFare",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/DailyTimeTable/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車每日營運時刻表資料",
        "description": "取得台灣好行公車每日營運時刻表資料",
        "operationId": "TaiwanTripBusApi_DailyTimeTable_2270",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusDailyTimeTable"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusDailyTimeTable"
                  },
                  "xml": {
                    "name": "ArrayOfBusDailyTimeTable",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/DailyTimeTable/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行每日營運時刻表資料",
        "description": "取得指定[路線名稱]的台灣好行每日營運時刻表資料",
        "operationId": "TaiwanTripBusApi_DailyTimeTable_2270_1",
        "parameters": [
          {
            "name": "TaiwanTripName",
            "in": "path",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusDailyTimeTable"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusDailyTimeTable"
                  },
                  "xml": {
                    "name": "ArrayOfBusDailyTimeTable",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/FirstLastTripInfo/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車首末班車資料",
        "description": "取得台灣好行公車首末班車資料",
        "operationId": "TaiwanTripBusApi_FirstLastTripInfo_2271",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusFirstLastTripInfo"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusFirstLastTripInfo"
                  },
                  "xml": {
                    "name": "ArrayOfBusFirstLastTripInfo",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/FirstLastTripInfo/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行公車首末班車資料",
        "description": "取得指定[路線名稱]的台灣好行公車首末班車資料",
        "operationId": "TaiwanTripBusApi_FirstLastTripInfo_2271_1",
        "parameters": [
          {
            "name": "TaiwanTripName",
            "in": "path",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "schema": {
              "title": "String",
              "type": "string",
              "xml": { }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusFirstLastTripInfo"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusFirstLastTripInfo"
                  },
                  "xml": {
                    "name": "ArrayOfBusFirstLastTripInfo",
                    "namespace": "https://ptx.transportdata.tw/standard/schema/",
                    "wrapped": true
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在 Response 加上 Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於 Request 加上 If-Modified-Since header，若沒有更新，服務端會回應 304 StatusCode 且空值 Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PTX.Service.DTO.Tourism.Specification.V2.BusA1Data": {
        "title": "BusA1Data",
        "required": [
          "Azimuth",
          "BusStatus",
          "DutyStatus",
          "GPSTime",
          "PlateNumb",
          "Speed",
          "UpdateTime"
        ],
        "type": "object",
        "properties": {
          "PlateNumb": {
            "title": "String",
            "minLength": 1,
            "type": "string",
            "description": "車牌號碼",
            "xml": {
              "name": "PlateNumb"
            }
          },
          "OperatorID": {
            "title": "String",
            "type": "string",
            "description": "營運業者代碼",
            "nullable": true,
            "xml": {
              "name": "OperatorID"
            }
          },
          "RouteUID": {
            "title": "String",
            "type": "string",
            "description": "路線唯一識別代碼，規則為 {業管機關代碼} + {RouteID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
            "nullable": true,
            "xml": {
              "name": "RouteUID"
            }
          },
          "RouteID": {
            "title": "String",
            "type": "string",
            "description": "地區既用中之路線代碼(為原資料內碼)",
            "nullable": true,
            "xml": {
              "name": "RouteID"
            }
          },
          "SubRouteUID": {
            "title": "String",
            "type": "string",
            "description": "子路線唯一識別代碼，規則為 {業管機關代碼} + {SubRouteID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
            "nullable": true,
            "xml": {
              "name": "SubRouteUID"
            }
          },
          "SubRouteID": {
            "title": "String",
            "type": "string",
            "description": "地區既用中之子路線代碼(為原資料內碼)",
            "nullable": true,
            "xml": {
              "name": "SubRouteID"
            }
          },
          "SubRouteName": {
            "title": "NameType",
            "allOf": [
              {
                "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
              }
            ],
            "description": "子路線名稱",
            "nullable": true,
            "xml": {
              "name": "NameType"
            }
          },
          "TaiwanTripName": {
            "title": "NameType",
            "allOf": [
              {
                "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
              }
            ],
            "description": "台灣好行路線名稱",
            "nullable": true,
            "xml": {
              "name": "NameType"
            }
          },
          "Direction": {
            "title": "Int32",
            "type": "integer",
            "description": "去返程 : [0:'去程',1:'返程',2:'迴圈',255:'未知']",
            "format": "int32",
            "nullable": true
          },
          "BusPosition": {
            "title": "PointType",
            "allOf": [
              {
                "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V2.Base.PointType"
              }
            ],
            "description": "車輛位置經度",
            "nullable": true,
            "xml": {
              "name": "PointType"
            }
          },
          "Speed": {
            "type": "number",
            "description": "行駛速度(kph)",
            "format": "double"
          },
          "Azimuth": {
            "type": "number",
            "description": "方位角",
            "format": "double"
          },
          "DutyStatus": {
            "title": "Int32",
            "type": "integer",
            "description": "勤務狀態 : [0:'正常',1:'開始',2:'結束']",
            "format": "int32"
          },
          "BusStatus": {
            "title": "Int32",
            "type": "integer",
            "description": "行車狀況 : [0:'正常',1:'車禍',2:'故障',3:'塞車',4:'緊急求援',5:'加油',90:'不明',91:'去回不明',98:'偏移路線',99:'非營運狀態',100:'客滿',101:'包車出租',255:'未知']",
            "format": "int32"
          },
          "MessageType": {
            "title": "Int32",
            "type": "integer",
            "description": "資料型態種類 : [0:'未知',1:'定期',2:'非定期']",
            "format": "int32",
            "nullable": true
          },
          "GPSTime": {
            "title": "DateTime",
            "type": "string",
            "description": "車機時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
            "format": "date-time"
          },
          "TransTime": {
            "type": "string",
            "description": "車機資料傳輸時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
            "format": "date-time",
            "nullable": true
          },
          "SrcRecTime": {
            "type": "string",
            "description": "來源端平台接收時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
            "format": "date-time",
            "nullable": true
          },
          "SrcUpdateTime": {
            "type": "string",
            "description": "來源端平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
            "format": "date-time",
            "nullable": true
          },
          "UpdateTime": {
            "title": "DateTime",
            "type": "string",
            "description": "本平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
            "format": "date-time"
          }
        },
        "additionalProperties": false,
        "description": "定時車機資料型別",
        "xml": {
          "name": "BusA1Data"
        }
      },
      "PTX.Service.DTO.Tourism.Specification.V2.BusA1Data0": {
        "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusA1Data"
      },
      "PTX.Service.DTO.Shared.Specification.V2.Base.NameType": {
        "title": "NameType",
        "type": "object",
        "properties": {
          "Zh_tw": {
            "title": "String",
            "type": "string",
            "description": "中文繁體名稱",
            "nullable": true,
            "xml": {
              "name": "Zh_tw"
            }
          },
          "En": {
            "title": "String",
            "type": "string",
            "description": "英文名稱",
            "nullable": true,
            "xml": {
              "name": "En"
            }
          }
        },
        "additionalProperties": false,
        "description": "名稱資料型別",
        "xml": {
          "name": "NameType"
        }
      },
      "PTX.Service.DTO.Shared.Specification.V2.Base.PointType": {
        "title": "PointType",
        "type": "object",
        "properties": {
          "PositionLon": {
            "type": "number",
            "description": "位置經度(WGS84)",
            "format": "double",
            "nullable": true
          },
          "PositionLat": {
            "type": "number",
            "description": "位置緯度(WGS84)",
            "format": "double",
            "nullable": true
          },
          "GeoHash": {
            "title": "String",
            "type": "string",
            "description": "地理空間編碼",
            "nullable": true,
            "xml": {
              "name": "GeoHash"
            }
          }
        },
        "additionalProperties": false,
        "description": "座標資料型別",
        "xml": {
          "name": "PointType"
        }
      },
      "PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth": {
        "title": "DisplayHealth",
        "required": [
          "Inbound",
          "Outbound",
          "ServiceID",
          "ServiceName"
        ],
        "type": "object",
        "properties": {
          "ServiceID": {
            "title": "String",
            "minLength": 1,
            "type": "string",
            "description": "API服務代碼",
            "xml": {
              "name": "ServiceID"
            }
          },
          "ServiceName": {
            "title": "String",
            "minLength": 1,
            "type": "string",
            "description": "API服務中文名稱",
            "xml": {
              "name": "ServiceName"
            }
          },
          "Inbound": {
            "title": "Inbound",
            "allOf": [
              {
                "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.Inbound"
              }
            ],
            "description": "本平台資料來源轉入狀態",
            "nullable": true,
            "xml": {
              "name": "Inbound"
            }
          },
          "Outbound": {
            "title": "Outbound",
            "allOf": [
              {
                "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.Outbound"
              }
            ],
            "description": "本平台API狀態",
            "nullable": true,
            "xml": {
              "name": "Outbound"
            }
          }
        },
        "additionalProperties": false,
        "description": "API服務健康狀態",
        "xml": {
          "name": "DisplayHealth"
        }
      },
      "PTX.Service.DTO.Shared.Specification.V3.Base.Inbound": {
        "title": "Inbound",
        "required": [
          "CheckTime",
          "Status"
        ],
        "type": "object",
        "properties": {
          "CheckTime": {
            "title": "DateTime",
            "type": "string",
            "description": "檢核時間",
            "format": "date-time"
          },
          "Status": {
            "title": "Int32",
            "type": "integer",
            "description": "檢核結果狀態 : [0:'失敗',1:'成功',2:'資料清洗中']",
            "format": "int32"
          },
          "Reason": {
            "title": "String",
            "type": "string",
            "description": "檢核失敗原因",
            "nullable": true,
            "xml": {
              "name": "Reason"
            }
          }
        },
        "additionalProperties": false,
        "description": "本平台資料來源轉入狀態",
        "xml": {
          "name": "Inbound"
        }
      },
      "PTX.Service.DTO.Shared.Specification.V3.Base.Outbound": {
        "title": "Outbound",
        "required": [
          "CheckTime",
          "Status"
        ],
        "type": "object",
        "properties": {
          "CheckTime": {
            "title": "DateTime",
            "type": "string",
            "description": "檢核時間",
            "format": "date-time"
          },
          "Status": {
            "title": "Int32",
            "type": "integer",
            "description": "檢核結果狀態 : [0:'失敗',1:'成功',2:'資料清洗中']",
            "format": "int32"
          },
          "Reason": {
            "title": "String",
            "type": "string",
            "description": "檢核失敗原因",
            "nullable": true,
            "xml": {
              "name": "Reason"
            }
          }
        },
        "additionalProperties": false,
        "description": "本平台API狀態",
        "xml": {
          "name": "Outbound"
        }
      },
      "PTX.Service.DTO.Tourism.Specification.V2.BusA2Data": {
        "title": "BusA2Data",
        "required": [
          "Direction",
          "GPSTime",
          "PlateNumb",
          "UpdateTime"
        ],
        "type": "object",
        "properties": {
          "PlateNumb": {
            "title": "String",
            "minLength": 1,
            "type": "string",
            "description": "車牌號碼",
            "xml": {
              "name": "PlateNumb"
            }
          },
          "OperatorID": {
            "title": "String",
            "type": "string",
            "description": "營運業者代碼",
            "nullable": true,
            "xml": {
              "name": "OperatorID"
            }
          },
          "RouteUID": {
            "title": "String",
            "type": "string",
            "description": "路線唯一識別代碼，規則為 {業管機關代碼} + {RouteID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
            "nullable": true,
            "xml": {
              "name": "RouteUID"
            }
          },
          "RouteID": {
            "title": "String",
            "type": "string",
            "description": "地區既用中之路線代碼(為原資料內碼)",
            "nullable": true,
            "xml": {
              "name": "RouteID"
            }
          },
          "SubRouteUID": {
            "title": "String",
            "type": "string",
            "description": "子路線唯一識別代碼，規則為 {業管機關代碼} + {SubRouteID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
            "nullable": true,
            "xml": {
              "name": "SubRouteUID"
            }
          },
          "SubRouteID": {
            "title": "String",
            "type": "string",
            "description": "地區既用中之子路線代碼(為原資料內碼)",
            "nullable": true,
            "xml": {
              "name": "SubRouteID"
            }
          },
          "SubRouteName": {
            "title": "NameType",
            "allOf": [
              {
                "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
              }
            ],
            "description": "子路線名稱",
            "nullable": true,
            "xml": {
              "name": "NameType"
            }
          },
          "TaiwanTripName": {
            "title": "NameType",
            "allOf": [
              {
                "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
              }
            ],
            "description": "台灣好行路線名稱",
            "nullable": true,
            "xml": {
              "name": "NameType"
            }
          },
          "Direction": {
            "title": "Int32",
            "type": "integer",
            "description": "去返程 : [0:'去程',1:'返程',2:'迴圈',255:'未知']",
            "format": "int32"
          },
          "StopUID": {
            "title": "String",
            "type": "string",
            "description": "站牌唯一識別代碼，規則為 {平台代碼} + {StopID}，其中 {平台代碼} 可於Provider API中的ProviderCode欄位查詢",
            "nullable": true,
            "xml": {
              "name": "StopUID"
            }
          },
          "StopID": {
            "title": "String",
            "type": "string",
            "description": "地區既用中之站牌代號(為原資料內碼)",
            "nullable": true,
            "xml": {
              "name": "StopID"
            }
          },
          "StopName": {
            "title": "NameType",
            "allOf": [
              {
                "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
              }
            ],
            "description": "站牌名",
            "nullable": true,
            "xml": {
              "name": "NameType"
            }
          },
          "MessageType": {
            "title": "Int32",
            "type": "integer",
            "description": "資料型態種類 : [0:'未知',1:'定期',2:'非定期']",
            "format": "int32",
            "nullable": true
          },
          "DutyStatus": {
            "title": "Int32",
            "type": "integer",
            "description": "勤務狀態 : [0:'正常',1:'開始',2:'結束']",
            "format": "int32",
            "nullable": true
          },
          "BusStatus": {
            "title": "Int32",
            "type": "integer",
            "description": "行車狀況 : [0:'正常',1:'車禍',2:'故障',3:'塞車',4:'緊急求援',5:'加油',90:'不明',91:'去回不明',98:'偏移路線',99:'非營運狀態',100:'客滿',101:'包車出租',255:'未知']",
            "format": "int32",
            "nullable": true
          },
          "A2EventType": {
            "title": "Int32",
            "type": "integer",
            "description": "進站離站 : [0:'離站',1:'進站']",
            "format": "int32",
            "nullable": true
          },
          "GPSTime": {
            "title": "DateTime",
            "type": "string",
            "description": "車機時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
            "format": "date-time"
          },
          "TransTime": {
            "type": "string",
            "description": "車機資料傳輸時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
            "format": "date-time",
            "nullable": true
          },
          "SrcRecTime": {
            "type": "string",
            "description": "來源端平台接收時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
            "format": "date-time",
            "nullable": true
          },
          "SrcUpdateTime": {
            "type": "string",
            "description": "來源端平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
            "format": "date-time",
            "nullable": true
          },
          "UpdateTime": {
            "title": "DateTime",
            "type": "string",
            "description": "本平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
            "format": "date-time"
          }
        },
        "additionalProperties": false,
        "description": "定點車機資料型別",
        "xml": {
          "name": "BusA2Data"
        }
      },
      "PTX.Service.DTO.Tourism.Specification.V2.BusA2Data1": {
        "$ref": "#/components/schemas/PTX.Service.DTO.Tourism.Specification.V2.BusA2Data"
      },
      "PTX.Service.DTO.Tourism.Specification.V2.BusN1EstimateTime": {
        "title": "BusN1EstimateTime",
        "required": [
          "Direction",
          "UpdateTime"
        ],
        "type": "object",
        "properties": {
          "PlateNumb": {
            "title": "String",
            "type": "string",
            "description": "車牌號碼",
            "nullable": true,
            "xml": {
              "name": "PlateNumb"
            }
          },
          "StopUID": {
            "title": "String",
            "type": "string",
            "description": "站牌唯一識別代碼，規則為 {業管機關代碼} + {StopID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
            "nullable": true,
            "xml": {
              "name": "StopUID"
            }
          },
          "StopID": {
            "title": "String",
            "type": "string",
            "description": "地區既用中之站牌代碼(為原資料內碼)",
            "nullable": true,
            "xml": {
              "name": "StopID"
            }
          },
          "StopName": {
            "title": "NameType",
            "allOf": [
              {
[...]
