{
  "openapi": "3.0.4",
  "info": {
    "title": "路況資訊",
    "description": "本平臺提供涵蓋全國尺度之路況設備資料，包含VD、CMS、CCTV、AVI等資料服務API，歡迎各產政學單位介接使用。\n<br>`CCTV`資料因內含影像連結網址，較不適合直接對外開放，僅提供會員使用。\n<br>\n<br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如：性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n<br>計費方式：\n<br>計次：1,500次/1點\n<br>計量：150MB/1點\n---\n##### API使用說明與注意事項：\n1. 如您尚未註冊平臺會員帳號，或未以帳號登入，您將僅能以「訪客模式」使用平臺服務，包含：限以瀏覽器存取，限使用`【基礎服務】`，且限制每個呼叫來源端IP每日存取至多20次。。\n2. 如您已註冊平臺會員帳號，請務必確保在存取服務(包含瀏覽器、程式呼叫API)時帶入您的API金鑰，方能以「會員模式」使用完整平臺服務，包含平臺各類資料服務，如`【基礎服務】`、`【進階服務】`、`【加值服務】`、`【歷史服務】`、`【圖資服務】`、`【第三方服務】`等。\n3. 建議您立即[註冊平臺會員帳號](/register)，依您用量需求訂閱服務方案，並於[【會員中心->資料服務->API金鑰】](/user/dataservice/key)取得API金鑰(即Client Id和Client Secret資訊)。\n4. 會員訂閱服務方案之級別不同，將決定其API金鑰之存取頻率有不同限制，各個方案的存取頻率限制說明請參考[訂閱收費](/pricing)。\n5. 以瀏覽器帶入API金鑰之操作方式：請點選Swagger UI上的Authorize按鈕，依指示填入Client Id和Client Secret資訊並進行驗證，驗證完成後可開始於Swagger UI使用API。\n6. 以程式呼叫API帶入API金鑰之操作方式：請參考[範例程式](https://github.com/tdxmotc/SampleCode)。\n7. 不論您是以瀏覽器或是以程式呼叫API，所有服務存取行為均將被記錄並定期檢視，以確保系統資源使用的合理分配與避免遭受濫用。\n\nAPI OAS文本 :[請點我](https://tdx.transportdata.tw/webapi/File/Swagger/V3/7f07d940-91a4-495d-9465-1c9df89d709c)",
    "termsOfService": "https://tdx.transportdata.tw/term",
    "contact": {
      "name": "TDX客服信箱",
      "email": "tdx@motc.gov.tw"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://tdx.transportdata.tw/api/basic"
    }
  ],
  "paths": {
    "/v2/Road/Traffic/Basic/Authority": {
      "get": {
        "tags": [
          "TrafficBasic"
        ],
        "summary": "取得業管機關代碼資料",
        "operationId": "Basic_Authority",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.BasicWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.Authority]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.BasicWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.Authority]"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/VD/City/{City}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市]車輛偵測器",
        "operationId": "VD_City",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "HsinchuCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "TaitungCounty",
                "HualienCounty",
                "Keelung",
                "Hsinchu",
                "Chiayi",
                "Taipei",
                "Kaohsiung",
                "Taichung",
                "Tainan",
                "Taoyuan",
                "KinmenCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "TaitungCounty": "臺東縣",
              "Hsinchu": "新竹市",
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "HualienCounty": "花蓮縣",
              "NantouCounty": "南投縣",
              "YilanCounty": "宜蘭縣",
              "YunlinCounty": "雲林縣",
              "KinmenCounty": "金門縣",
              "Kaohsiung": "高雄市",
              "MiaoliCounty": "苗栗縣",
              "Tainan": "臺南市",
              "ChiayiCounty": "嘉義縣",
              "Taichung": "臺中市",
              "Keelung": "基隆市",
              "ChanghuaCounty": "彰化縣",
              "PingtungCounty": "屏東縣",
              "Taoyuan": "桃園市",
              "Chiayi": "嘉義市",
              "HsinchuCounty": "新竹縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.VD]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.VD]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/VD/City/{City}/{VDID}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市],[VD設備]車輛偵測器",
        "operationId": "VD_City_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "HsinchuCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "TaitungCounty",
                "HualienCounty",
                "Keelung",
                "Hsinchu",
                "Chiayi",
                "Taipei",
                "Kaohsiung",
                "Taichung",
                "Tainan",
                "Taoyuan",
                "KinmenCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "TaitungCounty": "臺東縣",
              "Hsinchu": "新竹市",
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "HualienCounty": "花蓮縣",
              "NantouCounty": "南投縣",
              "YilanCounty": "宜蘭縣",
              "YunlinCounty": "雲林縣",
              "KinmenCounty": "金門縣",
              "Kaohsiung": "高雄市",
              "MiaoliCounty": "苗栗縣",
              "Tainan": "臺南市",
              "ChiayiCounty": "嘉義縣",
              "Taichung": "臺中市",
              "Keelung": "基隆市",
              "ChanghuaCounty": "彰化縣",
              "PingtungCounty": "屏東縣",
              "Taoyuan": "桃園市",
              "Chiayi": "嘉義市",
              "HsinchuCounty": "新竹縣"
            }
          },
          {
            "name": "VDID",
            "in": "path",
            "description": "指定VD設備代碼",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.VD]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.VD]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/Live/VD/City/{City}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市]車輛偵測器即時路況",
        "operationId": "Live_VD_City",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "HsinchuCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "TaitungCounty",
                "HualienCounty",
                "Keelung",
                "Hsinchu",
                "Chiayi",
                "Taipei",
                "Kaohsiung",
                "Taichung",
                "Tainan",
                "Taoyuan",
                "KinmenCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "YilanCounty": "宜蘭縣",
              "ChiayiCounty": "嘉義縣",
              "HualienCounty": "花蓮縣",
              "Taipei": "臺北市",
              "KinmenCounty": "金門縣",
              "Keelung": "基隆市",
              "TaitungCounty": "臺東縣",
              "PingtungCounty": "屏東縣",
              "Hsinchu": "新竹市",
              "YunlinCounty": "雲林縣",
              "Tainan": "臺南市",
              "ChanghuaCounty": "彰化縣",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Kaohsiung": "高雄市",
              "MiaoliCounty": "苗栗縣",
              "NewTaipei": "新北市",
              "HsinchuCounty": "新竹縣",
              "NantouCounty": "南投縣",
              "Chiayi": "嘉義市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.VDLive]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.VDLive]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/Live/VD/City/{City}/{VDID}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市],[VD設備]車輛偵測器即時路況",
        "operationId": "Live_VD_City_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "HsinchuCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "TaitungCounty",
                "HualienCounty",
                "Keelung",
                "Hsinchu",
                "Chiayi",
                "Taipei",
                "Kaohsiung",
                "Taichung",
                "Tainan",
                "Taoyuan",
                "KinmenCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "YilanCounty": "宜蘭縣",
              "ChiayiCounty": "嘉義縣",
              "HualienCounty": "花蓮縣",
              "Taipei": "臺北市",
              "KinmenCounty": "金門縣",
              "Keelung": "基隆市",
              "TaitungCounty": "臺東縣",
              "PingtungCounty": "屏東縣",
              "Hsinchu": "新竹市",
              "YunlinCounty": "雲林縣",
              "Tainan": "臺南市",
              "ChanghuaCounty": "彰化縣",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Kaohsiung": "高雄市",
              "MiaoliCounty": "苗栗縣",
              "NewTaipei": "新北市",
              "HsinchuCounty": "新竹縣",
              "NantouCounty": "南投縣",
              "Chiayi": "嘉義市"
            }
          },
          {
            "name": "VDID",
            "in": "path",
            "description": "指定VD設備代碼",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.VDLive]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.VDLive]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/CMS/City/{City}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市]資訊可變標誌",
        "operationId": "CMS_City",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "YilanCounty",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "TaitungCounty",
                "Keelung",
                "Hsinchu",
                "Chiayi",
                "Taipei",
                "Kaohsiung",
                "NewTaipei",
                "Taichung",
                "Tainan",
                "Taoyuan",
                "KinmenCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "Chiayi": "嘉義市",
              "Taipei": "臺北市",
              "Keelung": "基隆市",
              "NewTaipei": "新北市",
              "Kaohsiung": "高雄市",
              "TaitungCounty": "臺東縣",
              "KinmenCounty": "金門縣",
              "Taichung": "臺中市",
              "MiaoliCounty": "苗栗縣",
              "Hsinchu": "新竹市",
              "Tainan": "臺南市",
              "NantouCounty": "南投縣",
              "ChiayiCounty": "嘉義縣",
              "YilanCounty": "宜蘭縣",
              "HualienCounty": "花蓮縣",
              "PingtungCounty": "屏東縣",
              "HsinchuCounty": "新竹縣",
              "YunlinCounty": "雲林縣",
              "ChanghuaCounty": "彰化縣",
              "Taoyuan": "桃園市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.CMS]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.CMS]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/CMS/City/{City}/{CMSID}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市],[CMS設備]資訊可變標誌",
        "operationId": "CMS_City_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "YilanCounty",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "TaitungCounty",
                "Keelung",
                "Hsinchu",
                "Chiayi",
                "Taipei",
                "Kaohsiung",
                "NewTaipei",
                "Taichung",
                "Tainan",
                "Taoyuan",
                "KinmenCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "Chiayi": "嘉義市",
              "Taipei": "臺北市",
              "Keelung": "基隆市",
              "NewTaipei": "新北市",
              "Kaohsiung": "高雄市",
              "TaitungCounty": "臺東縣",
              "KinmenCounty": "金門縣",
              "Taichung": "臺中市",
              "MiaoliCounty": "苗栗縣",
              "Hsinchu": "新竹市",
              "Tainan": "臺南市",
              "NantouCounty": "南投縣",
              "ChiayiCounty": "嘉義縣",
              "YilanCounty": "宜蘭縣",
              "HualienCounty": "花蓮縣",
              "PingtungCounty": "屏東縣",
              "HsinchuCounty": "新竹縣",
              "YunlinCounty": "雲林縣",
              "ChanghuaCounty": "彰化縣",
              "Taoyuan": "桃園市"
            }
          },
          {
            "name": "CMSID",
            "in": "path",
            "description": "指定CMS設備代碼",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.CMS]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.CMS]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/Live/CMS/City/{City}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市]資訊可變標誌即時資訊",
        "operationId": "Live_CMS_City",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "YilanCounty",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "TaitungCounty",
                "Keelung",
                "Hsinchu",
                "Chiayi",
                "Taipei",
                "Kaohsiung",
                "NewTaipei",
                "Taichung",
                "Tainan",
                "Taoyuan",
                "KinmenCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "TaitungCounty": "臺東縣",
              "NewTaipei": "新北市",
              "YunlinCounty": "雲林縣",
              "Taichung": "臺中市",
              "YilanCounty": "宜蘭縣",
              "Keelung": "基隆市",
              "HualienCounty": "花蓮縣",
              "ChanghuaCounty": "彰化縣",
              "Hsinchu": "新竹市",
              "Tainan": "臺南市",
              "KinmenCounty": "金門縣",
              "Taoyuan": "桃園市",
              "NantouCounty": "南投縣",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "Chiayi": "嘉義市",
              "Taipei": "臺北市",
              "ChiayiCounty": "嘉義縣",
              "Kaohsiung": "高雄市",
              "PingtungCounty": "屏東縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.CMSLive]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.CMSLive]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/Live/CMS/City/{City}/{CMSID}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市],[CMS設備]資訊可變標誌即時資訊",
        "operationId": "Live_CMS_City_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "YilanCounty",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "TaitungCounty",
                "Keelung",
                "Hsinchu",
                "Chiayi",
                "Taipei",
                "Kaohsiung",
                "NewTaipei",
                "Taichung",
                "Tainan",
                "Taoyuan",
                "KinmenCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "TaitungCounty": "臺東縣",
              "NewTaipei": "新北市",
              "YunlinCounty": "雲林縣",
              "Taichung": "臺中市",
              "YilanCounty": "宜蘭縣",
              "Keelung": "基隆市",
              "HualienCounty": "花蓮縣",
              "ChanghuaCounty": "彰化縣",
              "Hsinchu": "新竹市",
              "Tainan": "臺南市",
              "KinmenCounty": "金門縣",
              "Taoyuan": "桃園市",
              "NantouCounty": "南投縣",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "Chiayi": "嘉義市",
              "Taipei": "臺北市",
              "ChiayiCounty": "嘉義縣",
              "Kaohsiung": "高雄市",
              "PingtungCounty": "屏東縣"
            }
          },
          {
            "name": "CMSID",
            "in": "path",
            "description": "指定CMS設備代碼",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.CMSLive]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.CMSLive]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/CCTV/City/{City}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市]閉路電視攝影機",
        "description": "CCTV僅提供會員使用，存取時務必輸入會員[App ID]跟[App Key]才能正常取得資料",
        "operationId": "CCTV_City",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "YilanCounty",
                "HsinchuCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "PingtungCounty",
                "TaitungCounty",
                "Keelung",
                "Hsinchu",
                "Chiayi",
                "Taipei",
                "Kaohsiung",
                "NewTaipei",
                "Taichung",
                "Tainan",
                "Taoyuan",
                "KinmenCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "ChanghuaCounty": "彰化縣",
              "Kaohsiung": "高雄市",
              "YilanCounty": "宜蘭縣",
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "YunlinCounty": "雲林縣",
              "HsinchuCounty": "新竹縣",
              "PingtungCounty": "屏東縣",
              "Taoyuan": "桃園市",
              "NewTaipei": "新北市",
              "Taipei": "臺北市",
              "Hsinchu": "新竹市",
              "KinmenCounty": "金門縣",
              "Chiayi": "嘉義市",
              "ChiayiCounty": "嘉義縣",
              "Keelung": "基隆市",
              "HualienCounty": "花蓮縣",
              "MiaoliCounty": "苗栗縣",
              "NantouCounty": "南投縣",
              "TaitungCounty": "臺東縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.CCTV]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.CCTV]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/CCTV/City/{City}/{CCTVID}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市],[CCTV設備]閉路電視攝影機",
        "description": "CCTV僅提供會員使用，存取時務必輸入會員[App ID]跟[App Key]才能正常取得資料",
        "operationId": "CCTV_City_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "YilanCounty",
                "HsinchuCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "PingtungCounty",
                "TaitungCounty",
                "Keelung",
                "Hsinchu",
                "Chiayi",
                "Taipei",
                "Kaohsiung",
                "NewTaipei",
                "Taichung",
                "Tainan",
                "Taoyuan",
                "KinmenCounty"
              ],
              "type": "string"
            },
            "x-enum": {
              "ChanghuaCounty": "彰化縣",
              "Kaohsiung": "高雄市",
              "YilanCounty": "宜蘭縣",
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "YunlinCounty": "雲林縣",
              "HsinchuCounty": "新竹縣",
              "PingtungCounty": "屏東縣",
              "Taoyuan": "桃園市",
              "NewTaipei": "新北市",
              "Taipei": "臺北市",
              "Hsinchu": "新竹市",
              "KinmenCounty": "金門縣",
              "Chiayi": "嘉義市",
              "ChiayiCounty": "嘉義縣",
              "Keelung": "基隆市",
              "HualienCounty": "花蓮縣",
              "MiaoliCounty": "苗栗縣",
              "NantouCounty": "南投縣",
              "TaitungCounty": "臺東縣"
            }
          },
          {
            "name": "CCTVID",
            "in": "path",
            "description": "指定CCTV設備代碼",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.CCTV]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.CCTV]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/ETag/City/{City}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市]電子標籤門架",
        "operationId": "ETag_City",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "YilanCounty",
                "HsinchuCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "TaitungCounty",
                "Keelung",
                "Hsinchu",
                "Chiayi",
                "NewTaipei",
                "Taichung",
                "Tainan",
                "Taoyuan"
              ],
              "type": "string"
            },
            "x-enum": {
              "Kaohsiung": "高雄市",
              "NantouCounty": "南投縣",
              "Taipei": "臺北市",
              "ChiayiCounty": "嘉義縣",
              "TaitungCounty": "臺東縣",
              "Hsinchu": "新竹市",
              "PingtungCounty": "屏東縣",
              "Taichung": "臺中市",
              "KinmenCounty": "金門縣",
              "HsinchuCounty": "新竹縣",
              "Keelung": "基隆市",
              "HualienCounty": "花蓮縣",
              "MiaoliCounty": "苗栗縣",
              "Chiayi": "嘉義市",
              "ChanghuaCounty": "彰化縣",
              "Tainan": "臺南市",
              "NewTaipei": "新北市",
              "YilanCounty": "宜蘭縣",
              "YunlinCounty": "雲林縣",
              "Taoyuan": "桃園市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.ETag]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.ETag]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/ETag/City/{City}/{ETagGantryID}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市],[eTag偵測站]電子標籤門架",
        "operationId": "ETag_City_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "YilanCounty",
                "HsinchuCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "TaitungCounty",
                "Keelung",
                "Hsinchu",
                "Chiayi",
                "NewTaipei",
                "Taichung",
                "Tainan",
                "Taoyuan"
              ],
              "type": "string"
            },
            "x-enum": {
              "Kaohsiung": "高雄市",
              "NantouCounty": "南投縣",
              "Taipei": "臺北市",
              "ChiayiCounty": "嘉義縣",
              "TaitungCounty": "臺東縣",
              "Hsinchu": "新竹市",
              "PingtungCounty": "屏東縣",
              "Taichung": "臺中市",
              "KinmenCounty": "金門縣",
              "HsinchuCounty": "新竹縣",
              "Keelung": "基隆市",
              "HualienCounty": "花蓮縣",
              "MiaoliCounty": "苗栗縣",
              "Chiayi": "嘉義市",
              "ChanghuaCounty": "彰化縣",
              "Tainan": "臺南市",
              "NewTaipei": "新北市",
              "YilanCounty": "宜蘭縣",
              "YunlinCounty": "雲林縣",
              "Taoyuan": "桃園市"
            }
          },
          {
            "name": "ETagGantryID",
            "in": "path",
            "description": "指定eTag偵測站代碼",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.ETag]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.ETag]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/ETagPair/City/{City}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市]電子標籤門架配對路段",
        "operationId": "ETagPair_City",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "YilanCounty",
                "HsinchuCounty",
                "ChanghuaCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "TaitungCounty",
                "Keelung",
                "Hsinchu",
                "Chiayi",
                "NewTaipei",
                "Taichung",
                "Taoyuan"
              ],
              "type": "string"
            },
            "x-enum": {
              "Chiayi": "嘉義市",
              "HsinchuCounty": "新竹縣",
              "YunlinCounty": "雲林縣",
              "Taoyuan": "桃園市",
              "NewTaipei": "新北市",
              "Taipei": "臺北市",
              "PingtungCounty": "屏東縣",
              "Kaohsiung": "高雄市",
              "KinmenCounty": "金門縣",
              "Tainan": "臺南市",
              "NantouCounty": "南投縣",
              "ChanghuaCounty": "彰化縣",
              "YilanCounty": "宜蘭縣",
              "MiaoliCounty": "苗栗縣",
              "Keelung": "基隆市",
              "Taichung": "臺中市",
              "ChiayiCounty": "嘉義縣",
              "HualienCounty": "花蓮縣",
              "TaitungCounty": "臺東縣",
              "Hsinchu": "新竹市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.ETagPair]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.ETagPair]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/ETagPair/City/{City}/{ETagPairID}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市],[eTag配對路徑]電子標籤門架配對路段",
        "operationId": "ETagPair_City_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "YilanCounty",
                "HsinchuCounty",
                "ChanghuaCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "TaitungCounty",
                "Keelung",
                "Hsinchu",
                "Chiayi",
                "NewTaipei",
                "Taichung",
                "Taoyuan"
              ],
              "type": "string"
            },
            "x-enum": {
              "Chiayi": "嘉義市",
              "HsinchuCounty": "新竹縣",
              "YunlinCounty": "雲林縣",
              "Taoyuan": "桃園市",
              "NewTaipei": "新北市",
              "Taipei": "臺北市",
              "PingtungCounty": "屏東縣",
              "Kaohsiung": "高雄市",
              "KinmenCounty": "金門縣",
              "Tainan": "臺南市",
              "NantouCounty": "南投縣",
              "ChanghuaCounty": "彰化縣",
              "YilanCounty": "宜蘭縣",
              "MiaoliCounty": "苗栗縣",
              "Keelung": "基隆市",
              "Taichung": "臺中市",
              "ChiayiCounty": "嘉義縣",
              "HualienCounty": "花蓮縣",
              "TaitungCounty": "臺東縣",
              "Hsinchu": "新竹市"
            }
          },
          {
            "name": "ETagPairID",
            "in": "path",
            "description": "指定eTag配對路徑代碼",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.ETagPair]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.ETagPair]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/Live/ETag/City/{City}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市]電子標籤門架配對路段即時路況",
        "operationId": "Live_ETag_City",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "YilanCounty",
                "HsinchuCounty",
                "ChanghuaCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "TaitungCounty",
                "Keelung",
                "Hsinchu",
                "Chiayi",
                "NewTaipei",
                "Taichung",
                "Taoyuan"
              ],
              "type": "string"
            },
            "x-enum": {
              "Tainan": "臺南市",
              "NewTaipei": "新北市",
              "ChanghuaCounty": "彰化縣",
              "YilanCounty": "宜蘭縣",
              "Taipei": "臺北市",
              "Keelung": "基隆市",
              "KinmenCounty": "金門縣",
              "MiaoliCounty": "苗栗縣",
              "HualienCounty": "花蓮縣",
              "Kaohsiung": "高雄市",
              "Chiayi": "嘉義市",
              "NantouCounty": "南投縣",
              "Taichung": "臺中市",
              "Hsinchu": "新竹市",
              "ChiayiCounty": "嘉義縣",
              "TaitungCounty": "臺東縣",
              "YunlinCounty": "雲林縣",
              "PingtungCounty": "屏東縣",
              "Taoyuan": "桃園市",
              "HsinchuCounty": "新竹縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.ETagPairLive]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.ETagPairLive]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/Live/ETag/City/{City}/{ETagPairID}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市],[ETag配對路徑]電子標籤門架配對路段即時路況",
        "operationId": "Live_ETag_City_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "YilanCounty",
                "HsinchuCounty",
                "ChanghuaCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "PingtungCounty",
                "TaitungCounty",
                "Keelung",
                "Hsinchu",
                "Chiayi",
                "NewTaipei",
                "Taichung",
                "Taoyuan"
              ],
              "type": "string"
            },
            "x-enum": {
              "Tainan": "臺南市",
              "NewTaipei": "新北市",
              "ChanghuaCounty": "彰化縣",
              "YilanCounty": "宜蘭縣",
              "Taipei": "臺北市",
              "Keelung": "基隆市",
              "KinmenCounty": "金門縣",
              "MiaoliCounty": "苗栗縣",
              "HualienCounty": "花蓮縣",
              "Kaohsiung": "高雄市",
              "Chiayi": "嘉義市",
              "NantouCounty": "南投縣",
              "Taichung": "臺中市",
              "Hsinchu": "新竹市",
              "ChiayiCounty": "嘉義縣",
              "TaitungCounty": "臺東縣",
              "YunlinCounty": "雲林縣",
              "PingtungCounty": "屏東縣",
              "Taoyuan": "桃園市",
              "HsinchuCounty": "新竹縣"
            }
          },
          {
            "name": "ETagPairID",
            "in": "path",
            "description": "指定ETag配對路徑編號",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.ETagPairLive]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.ETagPairLive]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/Section/City/{City}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市]發布路段",
        "operationId": "Section_City",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "YilanCounty",
                "HsinchuCounty",
                "ChanghuaCounty",
                "YunlinCounty",
                "PingtungCounty",
                "Keelung",
                "Taipei",
                "Kaohsiung",
                "NewTaipei",
                "Taichung",
                "Tainan",
                "Taoyuan"
              ],
              "type": "string"
            },
            "x-enum": {
              "Keelung": "基隆市",
              "Hsinchu": "新竹市",
              "Taipei": "臺北市",
              "YunlinCounty": "雲林縣",
              "Taichung": "臺中市",
              "YilanCounty": "宜蘭縣",
              "Taoyuan": "桃園市",
              "MiaoliCounty": "苗栗縣",
              "TaitungCounty": "臺東縣",
              "Kaohsiung": "高雄市",
              "KinmenCounty": "金門縣",
              "Chiayi": "嘉義市",
              "NewTaipei": "新北市",
              "HsinchuCounty": "新竹縣",
              "NantouCounty": "南投縣",
              "Tainan": "臺南市",
              "ChanghuaCounty": "彰化縣",
              "ChiayiCounty": "嘉義縣",
              "HualienCounty": "花蓮縣",
              "PingtungCounty": "屏東縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.Section]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.Section]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/Section/City/{City}/{SectionID}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市],[機關發布路段]發布路段",
        "operationId": "Section_City_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "YilanCounty",
                "HsinchuCounty",
                "ChanghuaCounty",
                "YunlinCounty",
                "PingtungCounty",
                "Keelung",
                "Taipei",
                "Kaohsiung",
                "NewTaipei",
                "Taichung",
                "Tainan",
                "Taoyuan"
              ],
              "type": "string"
            },
            "x-enum": {
              "Keelung": "基隆市",
              "Hsinchu": "新竹市",
              "Taipei": "臺北市",
              "YunlinCounty": "雲林縣",
              "Taichung": "臺中市",
              "YilanCounty": "宜蘭縣",
              "Taoyuan": "桃園市",
              "MiaoliCounty": "苗栗縣",
              "TaitungCounty": "臺東縣",
              "Kaohsiung": "高雄市",
              "KinmenCounty": "金門縣",
              "Chiayi": "嘉義市",
              "NewTaipei": "新北市",
              "HsinchuCounty": "新竹縣",
              "NantouCounty": "南投縣",
              "Tainan": "臺南市",
              "ChanghuaCounty": "彰化縣",
              "ChiayiCounty": "嘉義縣",
              "HualienCounty": "花蓮縣",
              "PingtungCounty": "屏東縣"
            }
          },
          {
            "name": "SectionID",
            "in": "path",
            "description": "指定機關發布路段代碼",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.Section]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.Section]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/SectionLink/City/{City}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市]發布路段之基礎路段組合",
        "operationId": "SectionLink_City",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "YilanCounty",
                "HsinchuCounty",
                "ChanghuaCounty",
                "YunlinCounty",
                "PingtungCounty",
                "Keelung",
                "Taipei",
                "Kaohsiung",
                "NewTaipei",
                "Taichung",
                "Tainan",
                "Taoyuan"
              ],
              "type": "string"
            },
            "x-enum": {
              "Tainan": "臺南市",
              "ChanghuaCounty": "彰化縣",
              "Hsinchu": "新竹市",
              "ChiayiCounty": "嘉義縣",
              "NewTaipei": "新北市",
              "Chiayi": "嘉義市",
              "KinmenCounty": "金門縣",
              "Kaohsiung": "高雄市",
              "HualienCounty": "花蓮縣",
              "Taipei": "臺北市",
              "PingtungCounty": "屏東縣",
              "Keelung": "基隆市",
              "MiaoliCounty": "苗栗縣",
              "YunlinCounty": "雲林縣",
              "HsinchuCounty": "新竹縣",
              "YilanCounty": "宜蘭縣",
              "TaitungCounty": "臺東縣",
              "NantouCounty": "南投縣",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.SectionLink]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.SectionLink]"
                }
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Road/Traffic/SectionLink/City/{City}/{SectionID}": {
      "get": {
        "tags": [
          "Traffic-City"
        ],
        "summary": "取得指定[縣市],[機關發布路段]發布路段之基礎路段組合",
        "operationId": "SectionLink_City_1",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "指定縣市代碼",
            "required": true,
            "schema": {
              "enum": [
                "YilanCounty",
                "HsinchuCounty",
                "ChanghuaCounty",
                "YunlinCounty",
                "PingtungCounty",
                "Keelung",
                "Taipei",
                "Kaohsiung",
                "NewTaipei",
                "Taichung",
                "Tainan",
                "Taoyuan"
              ],
              "type": "string"
            },
            "x-enum": {
              "Tainan": "臺南市",
              "ChanghuaCounty": "彰化縣",
              "Hsinchu": "新竹市",
              "ChiayiCounty": "嘉義縣",
              "NewTaipei": "新北市",
              "Chiayi": "嘉義市",
              "KinmenCounty": "金門縣",
              "Kaohsiung": "高雄市",
              "HualienCounty": "花蓮縣",
              "Taipei": "臺北市",
              "PingtungCounty": "屏東縣",
              "Keelung": "基隆市",
              "MiaoliCounty": "苗栗縣",
              "YunlinCounty": "雲林縣",
              "HsinchuCounty": "新竹縣",
              "YilanCounty": "宜蘭縣",
              "TaitungCounty": "臺東縣",
              "NantouCounty": "南投縣",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市"
            }
          },
          {
            "name": "SectionID",
            "in": "path",
            "description": "指定機關發布路段代碼",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [
                true,
                false
              ],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.SectionLink]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Traffic.Model.TrafficWrapper[PTX.Service.DTO.Traffic.Specification.V2.API.SectionLink]"
                }
              }
            }
          },
[...]
